Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

fix: address code review findings
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
Due: Chat Feature, UI Screens

fix: address code review findings
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImplTest.kt
Due: Chat Feature, UI Screens, Data Layer

fix: address code review findings
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/MessageDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/paging/MessagePagingSource.kt
Due: Data Layer

fix: address code review findings
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/MessageDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/paging/MessagePagingSource.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenTestFixtures.kt
Due: Data Layer

Add issues as plan for code review
  docs/plans/completed/2026-05-06-finish-chat-paging.md
Due: none

Fix errors after merge with main
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenComponentTest.kt
Due: Chat Feature, UI Screens

Reformat PagingLoadError function signature
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
Due: Chat Feature, UI Screens

feat(chat): retry failed outgoing messages
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelRetryTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  docs/plans/2026-05-18-retry-failed-outgoing-messages.md
Due: Chat Feature, UI Screens

fix(chat): address review findings for message retry
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelRetryTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/message/SendMessageUseCase.kt
  core/domain/src/test/kotlin/timur/gilfanov/messenger/domain/usecase/participant/message/CreateMessageUseCaseTest.kt
  docs/plans/2026-05-18-retry-failed-outgoing-messages.md
Due: Chat Feature, UI Screens

fix review findings
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelRetryTest.kt
Due: none

fix(chat): address review findings for retry tests
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelRetryTest.kt
Due: none

fix: address codex review findings
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelRetryTest.kt
Due: Chat Feature, UI Screens

Path conditions:
  Domain Entities: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/**
  Domain Use Cases: any of: app/src/main/java/timur/gilfanov/messenger/domain/usecase/**
  Chat Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**, app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**
  Message Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**
  UI Screens: any of: app/src/main/java/timur/gilfanov/messenger/ui/screen/**
  UI Theme: any of: app/src/main/java/timur/gilfanov/messenger/ui/theme/**
  Data Layer: any of: app/src/main/java/timur/gilfanov/messenger/data/**
  Dependency Injection: any of: app/src/main/java/timur/gilfanov/messenger/di/**
  Validation Logic: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**, app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**
  Application Core: any of: app/src/main/java/timur/gilfanov/messenger/MainActivity.kt, app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
