Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

Rename UI-prefixed types to use proper camelCase naming
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/Settings.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/UILanguage.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/UiLanguage.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUILanguageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCase.kt
Due: Domain Entities, Domain Use Cases

Replace fragmented use cases with unified GetUserUseCase
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/PictureUri.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/EditPictureUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/GetUserError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/GetUserUseCase.kt
Due: Domain Entities, Domain Use Cases

Add error types for user operation use cases
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/UiLanguage.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/EditNameError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/EditPictureError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/GetUserError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UserOperationError.kt
Due: Domain Entities, Domain Use Cases

Add userId parameter to ChangeUiLanguageUseCase
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCase.kt
Due: Domain Use Cases

Add repository layer with clean error architecture and separation of concerns
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UserOperationError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ChangeLanguageRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ProfileRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ProfileRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdateNameRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdatePictureRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UserRepositoryError.kt
Due: Domain Use Cases

Refactor: Rename User to Profile and extract UserId
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/Profile.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/User.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/UserId.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/GetUserUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ProfileRepository.kt
Due: Domain Entities, Domain Use Cases

Add Profile/Settings data sources with V2 error hierarchy
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceErrorV2.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalProfileDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalProfileDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalUserDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceErrorV2.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteProfileDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteProfileDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteUserDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/UploadProgress.kt
Due: Data Layer

Add UI screen contracts for user profile and settings features
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageItem.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfilePictureUploadError.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfilePictureValidationError.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileUi.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/SettingsUI.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/UserScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/UserUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/UserViewModel.kt
Due: UI Screens

Add Material 3 bottom navigation with feature flag for Settings screen
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/UserScreen.kt
Due: UI Screens, Application Core

Refactor: Rename `GetUserUseCase` to `GetProfileUseCase`
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/GetProfileError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/GetProfileUseCase.kt
Due: Domain Use Cases

Add ChangeUiLanguageRemoteDataSourceError with specific failure case:
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/ChangeUiLanguageRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ChangeLanguageRepositoryError.kt
Due: Domain Use Cases, Data Layer

Simplify local data sources with transform-based update pattern
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalProfileDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalProfileDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceError.kt
Due: Data Layer

Add method-specific errors and picture removal to remote profile data source
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemovePictureRemoteDataSourceError.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/UpdateNameRemoteDataSourceError.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/UpdatePictureRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteProfileDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteProfileDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/EditPictureError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdatePictureRepositoryError.kt
Due: Domain Use Cases, Data Layer

Consolidate settings error hierarchy under UserRepositoryError
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ChangeLanguageRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsRepositoryError.kt
Due: Domain Use Cases, Data Layer

Consolidate profile error hierarchy under UserRepositoryError
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ProfileRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ProfileRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdateNameRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdatePictureRepositoryError.kt
Due: Domain Use Cases

Add removePicture method to ProfileRepository with specific error type
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ProfileRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RemovePictureRepositoryError.kt
Due: Domain Use Cases

Add detailed validation errors for name updates
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/UpdateNameRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdateNameRepositoryError.kt
Due: Domain Use Cases

Refactor: Rename `SettingsUI` to `SettingsUi` for consistency
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/SettingsUi.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/UserUiState.kt
Due: UI Screens

Fix: Allow null profile picture URI on UI layer
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileUi.kt
Due: UI Screens

Refactor: Add changeLanguage function to LanguageViewModel
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModel.kt
Due: UI Screens

Update profile picture editing with error handling contracts
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/EditNameError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/EditPictureError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UpdateNameError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UpdateNameUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UpdatePictureError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UpdatePictureUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfilePictureUploadError.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfilePictureValidationError.kt
Due: Domain Use Cases, UI Screens

Add picture removal support to profile editing
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/RemovePictureError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/RemovePictureUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditViewModel.kt
Due: Domain Use Cases, UI Screens

Refactor: Update ProfileEditUiState to use specific validation error
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditUiState.kt
Due: UI Screens

Refactor: Reuse chat navigation display to don't repeat ourselves
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
Due: UI Screens, Application Core

Add extension functions for concise ChatId and ParticipantId conversion
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/Chat.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/Participant.kt
Due: Domain Entities, Chat Feature, Application Core

Refactor: Extract navigation destinations to dedicated package
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/navigation/Destinations.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
Due: UI Screens, Application Core

Add @Immutable to ChatListActions for Compose stability
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
Due: UI Screens

Optimize ChatListScreen composition stability
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
Due: UI Screens

Refactor: Move remote data source errors to main source set
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/ChangeUiLanguageRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemovePictureRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/UpdateNameRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/UpdatePictureRemoteDataSourceError.kt
Due: Data Layer

Fix: Change file size type from Int to Long in picture update errors
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/UpdatePictureRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UpdatePictureError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdatePictureRepositoryError.kt
Due: Domain Use Cases, Data Layer

Fix imports in ChatListNotEmptyFeatureTest
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
Due: none

Refactor: Format FileSizeOutOfBounds data class to match line length formatting rule
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UpdatePictureError.kt
Due: Domain Use Cases

Fix: Correct import for ChatListScreenTestActivity
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
Due: none

Refactor: Remove redundant remember keys in chatNavDisplay
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
Due: Application Core

Refactor: Use @Stable instead of @Immutable for action classes
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
Due: UI Screens

Refactor: Remove picture picker launch from ViewModel layer
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditViewModel.kt
Due: UI Screens

Refactor: Move picture removal error from UI state to side effect
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditUiState.kt
Due: UI Screens

Refactor: Move UnknownError handling to base error interfaces
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceErrorV2.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/UpdateNameRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/UpdatePictureRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UpdatePictureError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UserOperationError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RemovePictureRepositoryError.kt
Due: Domain Use Cases, Data Layer

Add CooldownActive error state
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceErrorV2.kt
Due: Data Layer

Refactor: Move UnknownError handling to RepositoryError base interface
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RemovePictureRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdateNameRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdatePictureRepositoryError.kt
Due: Domain Use Cases

Path conditions:
  Domain Entities: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/**
  Domain Use Cases: any of: app/src/main/java/timur/gilfanov/messenger/domain/usecase/**
  Chat Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**, app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**
  Message Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**
  UI Screens: any of: app/src/main/java/timur/gilfanov/messenger/ui/screen/**
  UI Theme: any of: app/src/main/java/timur/gilfanov/messenger/ui/theme/**
  Data Layer: any of: app/src/main/java/timur/gilfanov/messenger/data/**
  Dependency Injection: any of: app/src/main/java/timur/gilfanov/messenger/di/**
  Validation Logic: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**, app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**
  Application Core: any of: app/src/main/java/timur/gilfanov/messenger/MainActivity.kt, app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
