Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...90"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

component_management:
  individual_components:
    - component_id: domain_entities
      name: "Domain Entities"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/**"
    
    - component_id: domain_usecases
      name: "Domain Use Cases"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/**"
    
    - component_id: chat_feature
      name: "Chat Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**"
    
    - component_id: message_feature
      name: "Message Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**"
    
    - component_id: ui_screens
      name: "UI Screens"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/**"
    
    - component_id: ui_theme
      name: "UI Theme"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/theme/**"
    
    - component_id: data_layer
      name: "Data Layer"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/data/**"
    
    - component_id: dependency_injection
      name: "Dependency Injection"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/di/**"
    
    - component_id: validation_logic
      name: "Validation Logic"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**"
    
    - component_id: application_core
      name: "Application Core"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/MainActivity.kt"
        - "app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt"

flag_management:
  individual_flags:
    
    - name: unit
      carryforward: true
      statuses:
        - type: project
          target: 80%
          threshold: 1%
    
    - name: component
      carryforward: true
      statuses:
        - type: project
          target: 70%
          threshold: 1%
    
    - name: feature
      carryforward: true
      statuses:
        - type: project
          target: 50%
          threshold: 1%
    
    - name: application
      carryforward: true
      statuses:
        - type: project
          target: 40%
          threshold: 1%
    
    - name: release_candidate
      carryforward: true
      statuses:
        - type: project
          target: 30%
          threshold: 30%
    
    - name: local
      carryforward: true
    
    - name: robolectric
      carryforward: true
    
    - name: emulator
      carryforward: true
    
    - name: device
      carryforward: true
    
    - name: phone
      carryforward: true
    
    - name: tablet
      carryforward: true
    
    - name: foldable
      carryforward: true

feat(auth): real-time field validation on Login and Signup screens (#332)
  docs/plans/completed/2026-04-06-real-time-field-validation-login-signup.md
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/validation/CredentialsValidator.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/validation/CredentialsValidatorImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/login/LoginViewModel.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/signup/SignupViewModel.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/domain/validation/CredentialsValidatorImplTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/LoginViewModelRealTimeValidationTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/SignupViewModelRealTimeValidationTest.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/domain/validation/CredentialsValidatorStub.kt
Due: none

test: ignore message reply unread badge test in `MessageReplyApplicationTest`
  app/src/androidTest/java/timur/gilfanov/messenger/application/MessageReplyApplicationTest.kt
Due: none

chore(agents): document Backend Chat Contract
  CLAUDE.md
Due: none

refactor: remove redundant user_key from SyncSettingWorker
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsSyncSchedulerImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncSettingWorker.kt
Due: Data Layer

refactor: introduce `MainActivityUiState` for startup navigation
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivityUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivityViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/activity/MainActivityViewModelTest.kt
Due: none

test: update `AuthApplicationTest` with explicit timeout and cleanup imports
  app/src/androidTest/java/timur/gilfanov/messenger/application/AuthApplicationTest.kt
Due: none

style: fix import order in MainActivityViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivityViewModel.kt
Due: none

feat: disable auth input fields while loading
  feature/auth/src/androidTest/java/timur/gilfanov/messenger/feature/auth/LoginFeatureTest.kt
  feature/auth/src/androidTest/java/timur/gilfanov/messenger/feature/auth/LoginWithCredentialsUseCaseStub.kt
  feature/auth/src/androidTest/java/timur/gilfanov/messenger/feature/auth/SignupFeatureTest.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/login/LoginScreen.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/signup/SignupScreen.kt
Due: none

test: remove redundant assertion for signup button state in SignupFeatureTest
  feature/auth/src/androidTest/java/timur/gilfanov/messenger/feature/auth/SignupFeatureTest.kt
Due: none

Disable auth text fields during in-flight login and signup (#341)
  feature/auth/src/androidTest/java/timur/gilfanov/messenger/feature/auth/LoginFeatureTest.kt
  feature/auth/src/androidTest/java/timur/gilfanov/messenger/feature/auth/LoginWithCredentialsUseCaseStub.kt
  feature/auth/src/androidTest/java/timur/gilfanov/messenger/feature/auth/SignupFeatureTest.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/login/LoginScreen.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/signup/SignupScreen.kt
Due: none

feat: add deleteAllByUser to SettingsDao and SettingsDaoFake
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDao.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDaoFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDaoTest.kt
  docs/plans/2026-04-11-fix-stale-user-scoped-state-on-logout.md
Due: Data Layer

feat: add deleteAllForUser to LocalSettingsDataSource
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/SettingsDataSourceError.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
  docs/plans/2026-04-11-fix-stale-user-scoped-state-on-logout.md
Due: Data Layer

feat: add deleteUserData to SettingsRepository
  app/src/androidTest/java/timur/gilfanov/messenger/test/SettingsSyncSchedulerStub.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsSyncScheduler.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsSyncSchedulerImpl.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryIntegrationTest.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/repository/DeleteUserDataRepositoryError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/repository/SettingsRepository.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SettingsRepositoryFake.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SettingsRepositoryStub.kt
  docs/plans/2026-04-11-fix-stale-user-scoped-state-on-logout.md
Due: Data Layer

feat: wire settings cleanup into logout flow
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelLogoutTest.kt
  docs/plans/2026-04-11-fix-stale-user-scoped-state-on-logout.md
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/AuthViewModelModule.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImpl.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImplTest.kt
Due: none

feat: verify acceptance criteria for stale state on logout fix
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelLogoutTest.kt
  docs/plans/2026-04-11-fix-stale-user-scoped-state-on-logout.md
Due: none

docs: move completed stale-state-on-logout plan to completed/
  docs/plans/completed/2026-04-11-fix-stale-user-scoped-state-on-logout.md
Due: none

docs: move stale state fix plan to completed directory
  docs/plans/completed/2026-04-11-fix-stale-user-scoped-state-on-logout.md
Due: none

fix: address codex review findings
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/SettingsDataSourceError.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplExceptionTest.kt
  core/domain/src/test/kotlin/timur/gilfanov/messenger/domain/usecase/auth/AuthRepositoryFakeTest.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/auth/AuthRepositoryFake.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/AuthModule.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/TokenRefreshUseCase.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/TokenRefreshUseCaseImpl.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/TokenRefreshUseCaseTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImplTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImplTest.kt
Due: Data Layer

fix(test): implement deleteUserData in AndroidTestSettingsRepository and SettingsRepositoryStub
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestSettingsRepository.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/SettingsRepositoryStub.kt
Due: none

chore(agents): update instructions to verify android tests compilation
  CLAUDE.md
Due: none

fix: address CodeRabbit comments with Claude Code
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SettingsRepositoryFake.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/AuthModule.kt
Due: Data Layer

refactor: check AuthState for local data cleanup in LogoutUseCaseImpl
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImpl.kt
Due: none

fix: check AuthState.Unauthenticated before deleting user data in TokenRefreshUseCaseImpl
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/TokenRefreshUseCaseImpl.kt
Due: none

refactor: move localLogoutError assignment closer to usage in TokenRefreshUseCaseImpl
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/TokenRefreshUseCaseImpl.kt
Due: none

fix(auth): clean up stale user-scoped settings and sync jobs (#342)
  CLAUDE.md
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestSettingsRepository.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/SettingsRepositoryStub.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/SettingsSyncSchedulerStub.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsSyncScheduler.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsSyncSchedulerImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/SettingsDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDao.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplExceptionTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDaoFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDaoTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelLogoutTest.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/repository/DeleteUserDataRepositoryError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/repository/SettingsRepository.kt
  core/domain/src/test/kotlin/timur/gilfanov/messenger/domain/usecase/auth/AuthRepositoryFakeTest.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/auth/AuthRepositoryFake.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SettingsRepositoryFake.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SettingsRepositoryStub.kt
  docs/plans/completed/2026-04-11-fix-stale-user-scoped-state-on-logout.md
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/AuthModule.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/AuthViewModelModule.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/TokenRefreshUseCase.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/TokenRefreshUseCaseImpl.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/TokenRefreshUseCaseTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImplTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImplTest.kt
Due: Data Layer

feat: add MainActivitySideEffect and centralize auth failure detection in MainActivityViewModel
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivitySideEffect.kt
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivityViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/activity/MainActivityViewModelTest.kt
  docs/plans/2026-04-15-centralize-auth-failure-navigation.md
Due: none

feat: collect MainActivitySideEffect in MainActivity centrally
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreen.kt
  docs/plans/2026-04-15-centralize-auth-failure-navigation.md
Due: Chat Feature, UI Screens

feat: remove onAuthFailure from individual screens and debug test activities
  app/src/debug/java/timur/gilfanov/messenger/ChatListScreenTestActivity.kt
  app/src/debug/java/timur/gilfanov/messenger/ChatScreenTestActivity.kt
  app/src/debug/java/timur/gilfanov/messenger/SettingsScreenTestActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreenSideEffectsTest.kt
  docs/plans/2026-04-15-centralize-auth-failure-navigation.md
Due: Chat Feature, UI Screens

feat: validate task 4 lint and tests for auth failure centralization
  docs/plans/2026-04-15-centralize-auth-failure-navigation.md
Due: none

feat: verify acceptance criteria for centralized auth-failure navigation
  docs/plans/2026-04-15-centralize-auth-failure-navigation.md
Due: none

feat: move completed auth-failure navigation plan to completed/
  docs/plans/completed/2026-04-15-centralize-auth-failure-navigation.md
Due: none

Add .ralphex agent prompts and configs
  .ralphex/.gitignore
  .ralphex/agents/android-architecture.txt
  .ralphex/agents/documentation.txt
  .ralphex/agents/implementation.txt
  .ralphex/agents/testing.txt
  .ralphex/prompts/codex_review.txt
  .ralphex/prompts/make_plan.txt
  .ralphex/prompts/review_first.txt
  .ralphex/prompts/review_second.txt
  .ralphex/prompts/task.txt
Due: none

fix: address codex review findings
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestSettingsRepository.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/SettingsRepositoryStub.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsSyncScheduler.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsSyncSchedulerImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/SettingsDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDao.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplExceptionTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDaoFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDaoTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelLogoutTest.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveAndApplyLocaleUseCaseImpl.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/repository/DeleteUserDataRepositoryError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/repository/SettingsRepository.kt
  core/domain/src/test/kotlin/timur/gilfanov/messenger/domain/usecase/auth/AuthRepositoryFakeTest.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/auth/AuthRepositoryFake.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SettingsRepositoryFake.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SettingsRepositoryStub.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/AuthModule.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/AuthViewModelModule.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/TokenRefreshUseCase.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/TokenRefreshUseCaseImpl.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/TokenRefreshUseCaseTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImplTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImplTest.kt
Due: Data Layer

fix: address code review findings
  CLAUDE.md
  app/src/main/java/timur/gilfanov/messenger/di/LocaleApplicationModule.kt
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivityViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatSideEffect.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/activity/MainActivityViewModelTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatPaginationIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelAuthTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelProcessDeathTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/entity/auth/AuthState.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/profile/ObserveProfileUseCaseImpl.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ChangeUiLanguageUseCase.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveAndApplyLocaleUseCase.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveSettingsUseCaseImpl.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageUseCase.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SyncAllPendingSettingsUseCase.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SyncSettingUseCase.kt
  core/domain/src/test/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveAndApplyLocaleUseCaseTest.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/TokenRefreshUseCaseImpl.kt
Due: Chat Feature, UI Screens, Dependency Injection

docs: simplify and generalize ralphex prompts
  .ralphex/prompts/codex_review.txt
  .ralphex/prompts/make_plan.txt
  .ralphex/prompts/review_first.txt
  .ralphex/prompts/review_second.txt
  .ralphex/prompts/task.txt
Due: none

fix: address code review findings for settings sync and auth repo
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageUseCase.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SyncAllPendingSettingsUseCase.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SyncSettingUseCase.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/repository/SettingsRepository.kt
  core/domain/src/test/kotlin/timur/gilfanov/messenger/domain/usecase/auth/AuthRepositoryFakeTest.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SettingsRepositoryStub.kt
Due: none

fix: resolve bad merge in AuthRepositoryImpl causing compile errors
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImpl.kt
Due: none

chore(agents): generalize and consolidate instruction sets
  .ralphex/agents/android-architecture.txt
  .ralphex/agents/documentation.txt
  .ralphex/agents/implementation.txt
  .ralphex/agents/testing.txt
Due: none

docs: update testing and documentation agent instructions
  .ralphex/agents/documentation.txt
  .ralphex/agents/testing.txt
Due: none
