Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...90"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

component_management:
  individual_components:
    - component_id: domain_entities
      name: "Domain Entities"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/**"
    
    - component_id: domain_usecases
      name: "Domain Use Cases"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/**"
    
    - component_id: chat_feature
      name: "Chat Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**"
    
    - component_id: message_feature
      name: "Message Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**"
    
    - component_id: ui_screens
      name: "UI Screens"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/**"
    
    - component_id: ui_theme
      name: "UI Theme"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/theme/**"
    
    - component_id: data_layer
      name: "Data Layer"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/data/**"
    
    - component_id: dependency_injection
      name: "Dependency Injection"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/di/**"
    
    - component_id: validation_logic
      name: "Validation Logic"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**"
    
    - component_id: application_core
      name: "Application Core"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/MainActivity.kt"
        - "app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt"

flag_management:
  individual_flags:
    
    - name: unit
      carryforward: true
      statuses:
        - type: project
          target: 80%
          threshold: 1%
    
    - name: component
      carryforward: true
      statuses:
        - type: project
          target: 70%
          threshold: 1%
    
    - name: feature
      carryforward: true
      statuses:
        - type: project
          target: 50%
          threshold: 1%
    
    - name: application
      carryforward: true
      statuses:
        - type: project
          target: 40%
          threshold: 1%
    
    - name: release_candidate
      carryforward: true
      statuses:
        - type: project
          target: 30%
          threshold: 30%
    
    - name: local
      carryforward: true
    
    - name: robolectric
      carryforward: true
    
    - name: emulator
      carryforward: true
    
    - name: device
      carryforward: true
    
    - name: phone
      carryforward: true
    
    - name: tablet
      carryforward: true
    
    - name: foldable
      carryforward: true

Refactor chat list state and tests
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListPerformanceTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListStabilityTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenStabilityTest.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiState.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelTest.kt
Due: UI Screens

Refactor ChatListScreen tests and introduce specific test activities
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListPerformanceTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenEmptyApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenWithChatsApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListStabilityTest.kt
  app/src/debug/AndroidManifest.xml
  app/src/debug/java/timur/gilfanov/messenger/ChatListScreenEmptyTestActivity.kt
  app/src/debug/java/timur/gilfanov/messenger/ChatListScreenWithChatsTestActivity.kt
  app/src/debug/java/timur/gilfanov/messenger/data/repository/EmptyParticipantRepository.kt
  app/src/debug/java/timur/gilfanov/messenger/data/repository/WithChatsParticipantRepository.kt
Due: none

Refactor ChatListScreen tests to use Hilt for DI
  app/build.gradle.kts
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListPerformanceTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenEmptyApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenWithChatsApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListStabilityTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/HiltTestRunner.kt
  app/src/debug/AndroidManifest.xml
  app/src/debug/java/timur/gilfanov/messenger/ChatListScreenEmptyTestActivity.kt
  app/src/debug/java/timur/gilfanov/messenger/ChatListScreenWithChatsTestActivity.kt
  gradle/libs.versions.toml
Due: none

Configure Hilt for ChatListStabilityTest and ChatListPerformanceTest
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListPerformanceTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListStabilityTest.kt
Due: none

Replace default Hilt module with test-specific repository module in Android tests
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenStabilityTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/MessageSendingApplicationTest.kt
Due: none

Refactor InputValidationApplicationTest to use Hilt for testing
  app/src/androidTest/java/timur/gilfanov/messenger/InputValidationApplicationTest.kt
Due: none

Refactor InputValidationApplicationTest to use Hilt for testing
  app/src/androidTest/java/timur/gilfanov/messenger/MessageSendingApplicationTest.kt
Due: none

Remove unused import `WithChatsParticipantRepository`
  app/src/androidTest/java/timur/gilfanov/messenger/MessageSendingApplicationTest.kt
Due: none

Replace JUnit Categories with custom annotations for instrumentation tests
  .github/workflows/main.yml
  app/build.gradle.kts
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListPerformanceTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenEmptyApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenWithChatsApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListStabilityTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenStabilityTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/InputValidationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/MessageSendingApplicationTest.kt
  test-annotations/src/main/java/timur/gilfanov/annotations/TestCategories.kt
Due: none

Add FeatureTest annotation for instrumented test filtering
  app/build.gradle.kts
  test-annotations/src/main/java/timur/gilfanov/annotations/TestCategories.kt
Due: none

Refactor message validation error display and update tests
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenDisplayApplicationTest.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageInput.kt
Due: Chat Feature, UI Screens

Remove deprecated test category interfaces
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListPerformanceTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenEmptyApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenWithChatsApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListStabilityTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenStabilityTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/InputValidationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/MessageSendingApplicationTest.kt
  test-annotations/src/main/java/timur/gilfanov/annotations/TestCategories.kt
Due: none

Add tests for send button state in ChatScreen
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenTest.kt
Due: none

Refactor and rename test files
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListPerformanceTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenEmptyApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenStabilityTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenTestActivity.kt
  app/src/androidTest/java/timur/gilfanov/messenger/InputValidationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubbleComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItemComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListTimeFormattingUnitTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiStateUnitTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRowComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRowDimensionsComponentTest.kt
Due: none

Add TODO for test categories
  test-annotations/src/main/java/timur/gilfanov/annotations/TestCategories.kt
Due: none

Add Firebase Test Lab integration for feature tests
  .github/workflows/main.yml
Due: none

Reclassify application tests as feature tests
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
Due: none

Refactor tests (#45)
  .github/workflows/main.yml
  app/build.gradle.kts
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListPerformanceTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenTestActivity.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenTestActivity.kt
  app/src/androidTest/java/timur/gilfanov/messenger/HiltTestRunner.kt
  app/src/androidTest/java/timur/gilfanov/messenger/InputValidationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/debug/AndroidManifest.xml
  app/src/debug/java/timur/gilfanov/messenger/data/repository/EmptyParticipantRepository.kt
  app/src/debug/java/timur/gilfanov/messenger/data/repository/WithChatsParticipantRepository.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageInput.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiState.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubbleComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItemComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListTimeFormattingUnitTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiStateUnitTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRowComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRowDimensionsComponentTest.kt
  gradle/libs.versions.toml
  test-annotations/src/main/java/timur/gilfanov/annotations/TestCategories.kt
Due: Chat Feature, UI Screens

Update "Application" tests to run "Pre-merge"
  Testing Strategy.md
  codecov.yml
Due: none

Add waitForIdle after screen rotation in ChatListEmptyFeatureTest
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
Due: none

Wait for idle after orientation changes in ChatListNotEmptyFeatureTest
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
Due: none

Remove the `carryforward: true` setting for `unit`, `component`, and `application` tests (#46)
  Testing Strategy.md
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  codecov.yml
Due: none

Update compileSdk to 36 and add Kotlinx Serialization and Navigation3 dependencies
  app/build.gradle.kts
  gradle/libs.versions.toml
Due: none

Add navigation between ChatListScreen and ChatScreen
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
Due: Application Core

Integrate androidx.navigation3 for navigation
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
Due: Application Core

Refactor InMemoryParticipantRepository to support multiple chats
  app/src/main/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepository.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepositoryTest.kt
Due: Data Layer

Add navigation tests and enhance test data
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/debug/java/timur/gilfanov/messenger/data/repository/WithChatsParticipantRepository.kt
Due: none

Refactor ChatId and ParticipantId for clarity in debug data
  app/src/debug/java/timur/gilfanov/messenger/data/repository/WithChatsParticipantRepository.kt
Due: none

Refactor tests and repositories for improved clarity and testing coverage
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/debug/java/timur/gilfanov/messenger/ChatListScreenTestActivity.kt
  app/src/debug/java/timur/gilfanov/messenger/ChatScreenTestActivity.kt
  app/src/debug/java/timur/gilfanov/messenger/data/repository/WithChatsParticipantRepository.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepositoryFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/InMemoryPrivilegedRepositoryStub.kt
  app/src/main/java/timur/gilfanov/messenger/di/ChatModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/RepositoryModule.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepositoryTest.kt
Due: Data Layer, Dependency Injection

Extract text into constants for WithChatsParticipantRepository and adjust NavigationApplicationTest
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/debug/java/timur/gilfanov/messenger/data/repository/WithChatsParticipantRepository.kt
Due: none

Update `ChatScreen` to improve ViewModel key and initialization logic.
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
Due: Chat Feature, UI Screens

Update `ChatListScreen` to include ViewModel key for improved scoping
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
Due: UI Screens

Add `@After` tearDown method to close `ActivityScenario` in tests
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
Due: none

Replace `ActivityScenario` with `ActivityScenarioRule` in `ChatListNotEmptyFeatureTest`
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
Due: none

Refactor tests to replace intent-based initialization with dependency injection
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/debug/java/timur/gilfanov/messenger/ChatListScreenTestActivity.kt
  app/src/debug/java/timur/gilfanov/messenger/ChatScreenTestActivity.kt
  app/src/debug/java/timur/gilfanov/messenger/di/TestChatId.kt
  app/src/debug/java/timur/gilfanov/messenger/di/TestChatModule.kt
  app/src/debug/java/timur/gilfanov/messenger/di/TestUserId.kt
  app/src/debug/java/timur/gilfanov/messenger/di/TestUserModule.kt
Due: none

Mark tests as TODO due to hanging issues with updated compileSDK version
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
Due: none

Wait for chat to appears in application test.
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
Due: none

Update and refactor `InMemoryParticipantRepositoryFakeTest` for multiple chats
  app/src/main/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepositoryFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepositoryFakeTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepositoryTest.kt
Due: Data Layer

Remove debug `println` statements from ChatListScreen, ViewModel, and repository files
  app/src/debug/java/timur/gilfanov/messenger/data/repository/WithChatsParticipantRepository.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
Due: UI Screens

Replace rotation with activity recreation in stress tests
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
Due: none
