Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

Set `RectangleShape` as the default shape for `ChatListItem` cards.
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
Due: UI Screens

Open SwipeToActionRow actions for screenshot tests
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRowScreenshotTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screenshot/ScreenshotTestBase.kt
Due: none

Add component name to failed screenshot verification comments
  .github/workflows/screenshots-verify.yml
Due: none

Adjust UI dimensions to test screenshot tests failing PR comment
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubble.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/EmptyStateComponent.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRow.kt
Due: Chat Feature, UI Screens

Fix environment variable substitution in screenshot workflow
  .github/workflows/screenshots-verify.yml
Due: none

Revert "Adjust UI dimensions to test screenshot tests failing PR comment"
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubble.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/EmptyStateComponent.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRow.kt
Due: Chat Feature, UI Screens

Avoid mixing italic and code
  .github/workflows/screenshots-verify.yml
Due: none

Guard parsing and prettify component names
  .github/workflows/screenshots-verify.yml
Due: none

Revert "Revert "Adjust UI dimensions to test screenshot tests failing PR comment""
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubble.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/EmptyStateComponent.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRow.kt
Due: Chat Feature, UI Screens

Revert "Revert "Revert "Adjust UI dimensions to test screenshot tests failing PR comment"""
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubble.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/EmptyStateComponent.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRow.kt
Due: Chat Feature, UI Screens

Add component name to failed screenshot verification comments (#94)
  .github/workflows/screenshots-verify.yml
Due: none

Don't download APK for unit and component tests
  .github/workflows/main.yml
Due: none

Don't download APK for unit and component tests (#87)
  .github/workflows/main.yml
Due: none

Add profile image support for participants with Coil integration
  app/build.gradle.kts
  app/src/debug/java/timur/gilfanov/messenger/domain/testutil/DomainTestFixtures.kt
  app/src/debug/java/timur/gilfanov/messenger/util/GenerateProfileImageUrl.kt
  app/src/main/java/timur/gilfanov/messenger/ui/component/ProfileImage.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubble.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/test/java/timur/gilfanov/messenger/ui/component/ProfileImageComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubbleComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubbleScreenshotTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatAvatarWithProfileImageComponentTest.kt
  gradle/libs.versions.toml
Due: Chat Feature, UI Screens

Add a note on verifying commits before pushing to the repository in `CLAUDE.md`.
  CLAUDE.md
Due: none

Make `nextTimestamp` private and remove unused methods in `ServerState`.
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
Due: none

Add `subscribeToChats` method to `RemoteDebugDataSource` and implement in test fakes.
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDebugDataSource.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugDataRepositoryTest.kt
Due: none

Rename `subscribeToChats` to `chatPreviews` in `RemoteDebugDataSource` and test fakes for clarity and consistency.
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDebugDataSource.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFakeTest.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugDataRepositoryTest.kt
Due: none

Simplify message updates in `RemoteDataSourceFake` by replacing `toMutableList` operations with direct `set` and `add` calls.
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
Due: none

Track message operations (`update` and `delete`) in `RemoteDataSourceFake` for better server state debugging.
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
Due: none

Refactor and enhance `RemoteDataSourceFakeTest` for robustness
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFakeTest.kt
Due: none

Remove `SyncRaceConditionTest` and migrate relevant tests to `RemoteDataSourceFakeTest`
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFakeTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/sync/SyncRaceConditionTest.kt
Due: none

Refactor LocalDebugDataSourceImpl error handling and transaction management
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalDebugDataSourceImpl.kt
Due: none

Refactor RemoteDebugDataSource method names for clarity and consistency
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestDataHelper.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDebugDataSource.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepository.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFakeTest.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugDataRepositoryTest.kt
  app/src/test/java/timur/gilfanov/messenger/debug/RemoteDataSourceFakeDebugTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTestDataHelper.kt
Due: none

Refactor RemoteDebugDataSource to use ImmutableList for chats and add message count
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDebugDataSource.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepository.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugDataRepositoryTest.kt
Due: none

Remove unused setInitialTimestamp method from debug data sources
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDebugDataSource.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepository.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugDataRepositoryTest.kt
Due: none

Refactor: Rename `chatPreviews` to `observeChatPreviews` and `chatsDeltaUpdates` to `observeChatListUpdates` for clarity
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDebugDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSyncDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSyncDataSourceImpl.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFakeTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSyncDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugDataRepositoryTest.kt
  app/src/test/java/timur/gilfanov/messenger/debug/RemoteDataSourceFakeDebugTest.kt
Due: Data Layer

Refactor DebugSettings to remove chat count and message count overrides
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugSettings.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/ui/DebugSettingsComponents.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugDataRepositoryTest.kt
Due: none

Refactor last data generation timestamp to use kotlin.time.Instant
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepository.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugSettings.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugDataRepositoryTest.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugTestData.kt
Due: none

Refactor DebugDataRepository to use interface and implementation
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepository.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepositoryImpl.kt
  app/src/debug/java/timur/gilfanov/messenger/di/DebugDataSourceModule.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugDataRepositoryTest.kt
Due: none

Refactor RemoteDebugDataSource.observeChatPreviews to a property
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDebugDataSource.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFakeTest.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugDataRepositoryTest.kt
Due: none

Refactor DebugDataRepository API and rename methods
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalDebugDataSourceImpl.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugActivityLifecycleCallbacks.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugBroadcastReceiver.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepository.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepositoryImpl.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/ui/DebugSettingsViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugDataRepositoryTest.kt
Due: none

Refactor DebugDataRepository API and error handling
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalDebugDataSource.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalDebugDataSourceErrors.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalDebugDataSourceImpl.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugActivityLifecycleCallbacks.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugBroadcastReceiver.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepository.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepositoryErrors.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepositoryImpl.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugSettings.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/datastore/DebugPreferences.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/ui/DebugSettingsViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceError.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugDataRepositoryTest.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugTestData.kt
Due: Data Layer

Refactor LocalDataSourceError and debug error handling
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalUpdateSettingsError.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceError.kt
Due: Data Layer

Refactor: Move LocalUpdateSettingsError.toRepositoryError() to top-level
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepositoryImpl.kt
Due: none

Refactor debug settings retrieval to use suspend function
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugActivityLifecycleCallbacks.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepository.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepositoryImpl.kt
Due: none

Refactor RemoteDebugDataSource to use ResultWithError for error handling
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDebugDataSource.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDebugDataSourceError.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepositoryImpl.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugDataRepositoryTest.kt
Due: none

Refactor RemoteDebugDataSourceError and SimulateMessageError to use data objects
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDebugDataSourceError.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepositoryImpl.kt
Due: none

Path conditions:
  Domain Entities: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/**
  Domain Use Cases: any of: app/src/main/java/timur/gilfanov/messenger/domain/usecase/**
  Chat Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**, app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**
  Message Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**
  UI Screens: any of: app/src/main/java/timur/gilfanov/messenger/ui/screen/**
  UI Theme: any of: app/src/main/java/timur/gilfanov/messenger/ui/theme/**
  Data Layer: any of: app/src/main/java/timur/gilfanov/messenger/data/**
  Dependency Injection: any of: app/src/main/java/timur/gilfanov/messenger/di/**
  Validation Logic: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**, app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**
  Application Core: any of: app/src/main/java/timur/gilfanov/messenger/MainActivity.kt, app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
