Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...90"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

component_management:
  individual_components:
    - component_id: domain_entities
      name: "Domain Entities"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/**"
    
    - component_id: domain_usecases
      name: "Domain Use Cases"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/**"
    
    - component_id: chat_feature
      name: "Chat Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**"
    
    - component_id: message_feature
      name: "Message Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**"
    
    - component_id: ui_screens
      name: "UI Screens"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/**"
    
    - component_id: ui_theme
      name: "UI Theme"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/theme/**"
    
    - component_id: data_layer
      name: "Data Layer"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/data/**"
    
    - component_id: dependency_injection
      name: "Dependency Injection"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/di/**"
    
    - component_id: validation_logic
      name: "Validation Logic"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**"
    
    - component_id: application_core
      name: "Application Core"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/MainActivity.kt"
        - "app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt"

flag_management:
  individual_flags:
    
    - name: unit
      carryforward: true
      statuses:
        - type: project
          target: 80%
          threshold: 1%
    
    - name: component
      carryforward: true
      statuses:
        - type: project
          target: 70%
          threshold: 1%
    
    - name: feature
      carryforward: true
      statuses:
        - type: project
          target: 50%
          threshold: 1%
    
    - name: application
      carryforward: true
      statuses:
        - type: project
          target: 40%
          threshold: 1%
    
    - name: release_candidate
      carryforward: true
      statuses:
        - type: project
          target: 30%
          threshold: 30%
    
    - name: local
      carryforward: true
    
    - name: robolectric
      carryforward: true
    
    - name: emulator
      carryforward: true
    
    - name: device
      carryforward: true
    
    - name: phone
      carryforward: true
    
    - name: tablet
      carryforward: true
    
    - name: foldable
      carryforward: true

test(auth): refactor state access in `AuthRepositoryFake`
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/auth/AuthRepositoryFake.kt
Due: none

test(auth): add comprehensive unit tests for `AuthRepositoryFake`
  core/domain/src/test/kotlin/timur/gilfanov/messenger/domain/usecase/auth/AuthRepositoryFakeTest.kt
Due: none

test(auth): improve `AuthRepositoryFake` refresh logic
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/auth/AuthRepositoryFake.kt
Due: none

test(auth): add stub and fake (#277)
  core/domain/src/test/kotlin/timur/gilfanov/messenger/domain/usecase/auth/AuthRepositoryFakeTest.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/entity/auth/validation/CredentialsValidatorStub.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/auth/AuthRepositoryFake.kt
Due: none

chore(github): add PR template
  .github/pull_request_template.md
Due: none

chore(github): update PR template
  .github/pull_request_template.md
Due: none

feat(auth): add auth feature module
  feature/auth/build.gradle.kts
  feature/auth/src/main/AndroidManifest.xml
  settings.gradle.kts
Due: none

feat(auth): add auth feature module (#279)
  feature/auth/build.gradle.kts
  feature/auth/src/main/AndroidManifest.xml
  settings.gradle.kts
Due: none

feat(auth): add logout functionality
  CLAUDE.md
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModel.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreenContentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelLogoutTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelObservationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelProcessDeathTest.kt
  feature/auth/build.gradle.kts
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/AuthModule.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/LogoutModule.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCase.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImpl.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImplTest.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseNoOp.kt
  gradle.properties
Due: UI Screens

chore(auth): add Compose runtime dependency to testFixtures
  feature/auth/build.gradle.kts
Due: none

chore(auth): migrate Compose runtime dependency to Version Catalog
  feature/auth/build.gradle.kts
  gradle/libs.versions.toml
Due: none

feat(auth): implement login functionality
  CLAUDE.md
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/navigation/Destinations.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LoginScreen.kt
  feature/auth/build.gradle.kts
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/AuthModule.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/GoogleLoginUseCaseError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginScreen.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginSideEffects.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginUiState.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginUseCaseError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginViewModel.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginWithCredentialsUseCase.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginWithCredentialsUseCaseImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginWithGoogleUseCase.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginWithGoogleUseCaseImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/validation/CredentialsValidatorImpl.kt
  feature/auth/src/main/res/values-de/strings.xml
  feature/auth/src/main/res/values/strings.xml
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/login/LoginViewModelGoogleSignInTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/login/LoginViewModelInitialStateTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/login/LoginViewModelSubmitTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/login/LoginWithCredentialsUseCaseTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/login/LoginWithGoogleUseCaseTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/validation/CredentialsValidatorImplTest.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/login/LoginViewModelTestFixtures.kt
  gradle.properties
  gradle/libs.versions.toml
Due: UI Screens, Application Core

feat(auth): implement Google Sign-In using Credential Manager
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  feature/auth/build.gradle.kts
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginScreen.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginUiState.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginViewModel.kt
  feature/auth/src/main/res/values-de/strings.xml
  feature/auth/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Due: Application Core

feat(auth): implement token refresh with `AuthInterceptor`
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/di/NetworkModule.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/auth/AuthTokenStorage.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/auth/AuthTokenStorageFake.kt
  feature/auth/build.gradle.kts
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/AuthInterceptor.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/TokenRefreshError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/TokenRefreshUseCase.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/TokenRefreshUseCaseImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/AuthModule.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/AuthInterceptorTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/TokenRefreshUseCaseTest.kt
Due: Dependency Injection

refactor(auth): move AuthTokenStorage to auth feature module
  feature/auth/build.gradle.kts
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/AuthInterceptor.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/AuthTokenStorage.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/AuthModule.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/AuthInterceptorTest.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/AuthTokenStorageFake.kt
  gradle.properties
  gradle/libs.versions.toml
Due: none

chore(claude): add architecture docs section to CLAUDE.md
  CLAUDE.md
Due: none

feat(core): extract :core:data module with RemoteDataSourceError
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceErrorV2.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceNoop.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImplTest.kt
  core/data/build.gradle.kts
  core/data/src/main/kotlin/timur/gilfanov/messenger/data/remote/ApiResponse.kt
  core/data/src/main/kotlin/timur/gilfanov/messenger/data/remote/RemoteDataSourceError.kt
  core/data/src/main/kotlin/timur/gilfanov/messenger/data/remote/RemoteRequest.kt
  settings.gradle.kts
Due: Data Layer

feat(auth): add auth data layer
  feature/auth/build.gradle.kts
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/remote/AuthApiRoutes.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSource.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/remote/dto/AuthDtos.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/storage/AuthSessionStorage.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/storage/AuthSessionStorageError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/storage/AuthSessionStorageImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/ApplicationScope.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/AuthDataModule.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImplTest.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceFake.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/data/storage/AuthSessionStorageFake.kt
  gradle.properties
  gradle/libs.versions.toml
Due: none

docs(auth): add documentation to LogoutUseCase
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCase.kt
Due: none

fix(settings): suppress Unauthorized effect during manual logout
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelLogoutTest.kt
Due: UI Screens

test(auth): update assertion to assertTrue in LoginViewModelSubmitTest
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/login/LoginViewModelSubmitTest.kt
Due: none

feat(auth): mask password input in LoginScreen
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginScreen.kt
Due: none

feat(auth): add login screen preview with filled fields
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginScreen.kt
Due: none

chore(auth): add feature directory to preCommit check
  app/build.gradle.kts
Due: none

feat(auth): add logout functionality (#281)
  CLAUDE.md
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModel.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreenContentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelLogoutTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelObservationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelProcessDeathTest.kt
  feature/auth/build.gradle.kts
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/AuthModule.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/LogoutModule.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCase.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImpl.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImplTest.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseNoOp.kt
  gradle.properties
  gradle/libs.versions.toml
Due: UI Screens

feat(auth): enhance email input on login screen
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/AuthModule.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginScreen.kt
Due: none

feat(auth): enhance email input on login screen
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/login/LoginViewModelSubmitTest.kt
Due: none

chore(claude): update MVI state persistence guidelines
  CLAUDE.md
Due: none

test(auth): use specific kotlin.test assertions
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/login/LoginViewModelGoogleSignInTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/validation/CredentialsValidatorImplTest.kt
Due: none

chore(auth): update German localization strings
  feature/auth/src/main/res/values-de/strings.xml
Due: none

feat(auth): add specific error handling for invalid email
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginScreen.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginUiState.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginViewModel.kt
  feature/auth/src/main/res/values/strings.xml
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/login/LoginViewModelSubmitTest.kt
Due: none

refactor(auth): simplify onNavigateToSignup callback in LoginScreen
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginScreen.kt
Due: none

test(auth): implement process death handling in LoginViewModel
  feature/auth/build.gradle.kts
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginViewModel.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/login/LoginViewModelProcessDeathTest.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/login/LoginViewModelTestFixtures.kt
  gradle/libs.versions.toml
Due: none

feat(auth): refactor Google Sign-In logic into standalone client
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/di/AuthModule.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/GoogleSignInClient.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/GoogleSignInClientImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginScreen.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/login/LoginViewModelGoogleSignInTest.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/login/GoogleSignInClientStub.kt
Due: Application Core

test(auth): add UI integration tests for login feature
  app/build.gradle.kts
  app/src/androidTest/java/timur/gilfanov/messenger/feature/auth/LoginFeatureTest.kt
  feature/auth/src/debug/AndroidManifest.xml
  feature/auth/src/debug/kotlin/timur/gilfanov/messenger/auth/login/LoginScreenTestActivity.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/login/LoginScreen.kt
Due: none

refactor(build): extract :core:androidTest module
  app/build.gradle.kts
  core/androidTest/build.gradle.kts
  core/androidTest/src/main/AndroidManifest.xml
  core/androidTest/src/main/java/timur/gilfanov/messenger/HiltTestRunner.kt
  core/androidTest/src/main/java/timur/gilfanov/messenger/annotations/TestCategories.kt
  feature/auth/build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
Due: none

refactor(build): extract :core:androidTest module (#289)
  app/build.gradle.kts
  core/androidTest/build.gradle.kts
  core/androidTest/src/main/AndroidManifest.xml
  core/androidTest/src/main/java/timur/gilfanov/messenger/HiltTestRunner.kt
  core/androidTest/src/main/java/timur/gilfanov/messenger/annotations/TestCategories.kt
  feature/auth/build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
Due: none
