Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

Refactor: Add cause to UnknownServiceError and move ErrorReason
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceErrorV2.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/UpdateSettingsLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceErrorV2.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteUserDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncAllSettingsWorker.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncSettingWorker.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ErrorReason.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RepositoryError.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/ErrorReasonTest.kt
Due: Domain Use Cases, Data Layer

Refactor: Remove redundant error mapping functions
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteUserDataSourceError.kt
Due: Data Layer

chore: Rename RemoteSettingItem to RemoteSettingDto
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettings.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
Due: Data Layer

Refactor: Use `fold` extension for `ResultWithError` in workers
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncAllSettingsWorker.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncSettingWorker.kt
Due: Data Layer

Fix: Correct logging TAG in SyncAllPendingSettingsUseCase
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncAllPendingSettingsUseCase.kt
Due: Domain Use Cases

feat: Expand `SettingsDaoTest` to verify all fields
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDaoTest.kt
Due: none

Refactor: Improve assertions in RemoteSettingsDataSourceFakeTest
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFakeTest.kt
Due: none

chore: Improve test name for clarity in RemoteSettingsDataSourceFakeTest
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFakeTest.kt
Due: none

chore: Refine test name in ObserveUiLanguageUseCaseTest
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveUiLanguageUseCaseTest.kt
Due: none

Test: Verify error recovery in ObserveUiLanguageUseCase
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveUiLanguageUseCaseTest.kt
Due: none

Test: Add assertions for UI language values in RemoteSettingsDataSourceFakeTest
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFakeTest.kt
Due: none

Fix: Correct `getUnsyncedSettings` test logic
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
Due: none

Check default settings restored in repository
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

feat: Add tests for settings sync use cases
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/IdentityRepositoryStub.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/SettingsRepositoryStub.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/SyncAllPendingSettingsUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/SyncSettingUseCaseTest.kt
Due: none

feat: Add local storage error handling tests for sync functions
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Refactor: Decouple sync scheduling and enhance sync conflict handling
  app/src/debug/java/timur/gilfanov/messenger/data/repository/SettingsSyncScheduler.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceStub.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: Data Layer

Fix: Use fully qualified name for Unit annotation in test
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFakeTest.kt
Due: none

Refactor: Remove derived properties from LocalSetting
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSetting.kt
Due: Data Layer

Feat: Implement SettingsSyncScheduler for background sync
  app/src/debug/java/timur/gilfanov/messenger/data/repository/SettingsSyncScheduler.kt
  app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsSyncScheduler.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsSyncSchedulerImpl.kt
  app/src/main/java/timur/gilfanov/messenger/di/SettingsSyncSchedulerModule.kt
Due: Data Layer, Dependency Injection, Application Core

Refactor: Remove SyncStatus from settings synchronization
  app/schemas/timur.gilfanov.messenger.data.source.local.database.MessengerDatabase/3.json
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSetting.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettings.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/MessengerDatabase.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/SettingEntity.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplExceptionTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplObserveTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDaoTest.kt
Due: Data Layer

Refactor: Remove obsolete test code from SettingsRepositoryImplTest
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Fix: Rename test name in SettingsDaoTest
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDaoTest.kt
Due: none

chore: Remove "TooManyFunctions" suppression
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

Refactor: Add detailed local storage error tests for settings sync and recovery
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Fix: Correct grammar in test name
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFakeTest.kt
Due: none

Fix: Improve error handling and race condition in settings sync
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Refactor: Consolidate error mapping tests for SettingsRepository
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

chore: Remove obsolete test for `syncAllPendingSettings`
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Refactor: Improve testing coverage of `LocalSettingsDataSource`
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplExceptionTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDaoFake.kt
Due: none

feat: Implement LanguageViewModel and placeholder dependencies
  app/src/debug/java/timur/gilfanov/messenger/di/DebugDataSourceModule.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/DefaultIdentityRepository.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceNoop.kt
  app/src/main/java/timur/gilfanov/messenger/di/DataSourceModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/LanguageModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/RepositoryModule.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModel.kt
  app/src/release/java/timur/gilfanov/messenger/di/ReleaseDataSourceModule.kt
  app/src/test/java/timur/gilfanov/messenger/di/TestSettingsModule.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelChangeLanguageTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelInitialStateTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelObservationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelStateTransitionsTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelTestFixtures.kt
Due: UI Screens, Data Layer, Dependency Injection

feat: Implement LanguageScreen UI and content tests
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreen.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreenContentTest.kt
Due: UI Screens

Refactor: Remove redundant @Singleton annotations from repository bindings
  app/src/main/java/timur/gilfanov/messenger/di/RepositoryModule.kt
Due: Dependency Injection

chore: Remove redundant Hilt scope annotations
  app/src/main/java/timur/gilfanov/messenger/di/DataSourceModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/LanguageModule.kt
Due: Dependency Injection

feat: Add stubs for settings and identity in UI tests
  app/src/androidTest/java/timur/gilfanov/messenger/application/MessageReplyApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/SettingsRepositoryStub.kt
Due: none

feat: Make RemoteSettingsDataSource a singleton
  app/src/main/java/timur/gilfanov/messenger/di/DataSourceModule.kt
Due: Dependency Injection

feat: Centralize UI language list definition
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/UiLanguage.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModel.kt
Due: Domain Entities, UI Screens

Refactor: Use fixed UUIDs for test identity
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelTestFixtures.kt
Due: none

test: Remove unnecessary MainDispatcherRule from LanguageViewModel tests
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelChangeLanguageTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelInitialStateTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelObservationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelStateTransitionsTest.kt
Due: none

feat: Add @Immutable annotation to LanguageUiState
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageUiState.kt
Due: UI Screens

Path conditions:
  Domain Entities: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/**
  Domain Use Cases: any of: app/src/main/java/timur/gilfanov/messenger/domain/usecase/**
  Chat Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**, app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**
  Message Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**
  UI Screens: any of: app/src/main/java/timur/gilfanov/messenger/ui/screen/**
  UI Theme: any of: app/src/main/java/timur/gilfanov/messenger/ui/theme/**
  Data Layer: any of: app/src/main/java/timur/gilfanov/messenger/data/**
  Dependency Injection: any of: app/src/main/java/timur/gilfanov/messenger/di/**
  Validation Logic: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**, app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**
  Application Core: any of: app/src/main/java/timur/gilfanov/messenger/MainActivity.kt, app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
