Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...90"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

component_management:
  individual_components:
    - component_id: domain_entities
      name: "Domain Entities"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/**"
    
    - component_id: domain_usecases
      name: "Domain Use Cases"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/**"
    
    - component_id: chat_feature
      name: "Chat Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**"
    
    - component_id: message_feature
      name: "Message Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**"
    
    - component_id: ui_screens
      name: "UI Screens"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/**"
    
    - component_id: ui_theme
      name: "UI Theme"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/theme/**"
    
    - component_id: data_layer
      name: "Data Layer"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/data/**"
    
    - component_id: dependency_injection
      name: "Dependency Injection"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/di/**"
    
    - component_id: validation_logic
      name: "Validation Logic"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**"
    
    - component_id: application_core
      name: "Application Core"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/MainActivity.kt"
        - "app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt"

flag_management:
  individual_flags:
    
    - name: unit
      carryforward: true
      statuses:
        - type: project
          target: 80%
          threshold: 1%
    
    - name: component
      carryforward: true
      statuses:
        - type: project
          target: 70%
          threshold: 1%
    
    - name: feature
      carryforward: true
      statuses:
        - type: project
          target: 50%
          threshold: 1%
    
    - name: application
      carryforward: true
      statuses:
        - type: project
          target: 40%
          threshold: 1%
    
    - name: release_candidate
      carryforward: true
      statuses:
        - type: project
          target: 30%
          threshold: 30%
    
    - name: local
      carryforward: true
    
    - name: robolectric
      carryforward: true
    
    - name: emulator
      carryforward: true
    
    - name: device
      carryforward: true
    
    - name: phone
      carryforward: true
    
    - name: tablet
      carryforward: true
    
    - name: foldable
      carryforward: true

Remove Messenger repository fakes
  app/src/debug/java/timur/gilfanov/messenger/data/repository/MessengerEmptyRepositoryStub.kt
  app/src/debug/java/timur/gilfanov/messenger/data/repository/MessengerInMemoryRepositoryFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/repository/MessengerNotEmptyRepositoryFake.kt
  app/src/debug/java/timur/gilfanov/messenger/di/TestChatModule.kt
  app/src/debug/java/timur/gilfanov/messenger/di/TestUserModule.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepositoryFakeTest.kt
Due: none

Test RemoteChatDataSourceImpl.markMessagesAsRead method
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteChatDataSourceImplTest.kt
Due: none

Add comprehensive tests for MessengerRepositoryImpl.markMessagesAsRead method
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
Due: none

Fix coverage report configuration for dynamic build variants
  .github/workflows/main.yml
  app/build.gradle.kts
Due: none

Fix coverage report configuration for dynamic build variants (#80)
  .github/workflows/main.yml
  app/build.gradle.kts
Due: none

Remove unused launchIn import from MessengerRepositoryImpl
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
Due: Data Layer

Refactor coroutine scope architecture for better separation of concerns
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/di/RepositoryModule.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/TestRepositoryWithRealImplementation.kt
Due: Data Layer, Dependency Injection

Fix test scope leaks to prevent interference between tests
  app/src/androidTest/java/timur/gilfanov/messenger/application/MessageReplyApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/RepositoryCleanupRule.kt
  app/src/debug/java/timur/gilfanov/messenger/NoOpLogger.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteChatDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteMessageDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSyncDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/testutil/RepositoryCleanupRule.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/TestRepositoryWithRealImplementation.kt
Due: none

Refactor coroutine scope in Messenger repository for better separation of concerns and test isolation (#83)
  app/src/androidTest/java/timur/gilfanov/messenger/application/MessageReplyApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/RepositoryCleanupRule.kt
  app/src/debug/java/timur/gilfanov/messenger/NoOpLogger.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/di/RepositoryModule.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteChatDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteMessageDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSyncDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/testutil/RepositoryCleanupRule.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/TestRepositoryWithRealImplementation.kt
Due: Data Layer, Dependency Injection

Add comprehensive debug data generation system with sync fixes
  CLAUDE.md
  DEBUG_DATA_SETUP.md
  app/build.gradle.kts
  app/src/debug/AndroidManifest.xml
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalDebugDataSource.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalDebugDataSourceImpl.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteDebugDataSource.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DataGenerationConfig.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DataScenario.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugActivityLifecycleCallbacks.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugApplicationEntryPoint.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugBroadcastReceiver.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugDataRepository.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugIntentHolder.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugMessengerApplication.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugNotificationService.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/DebugSettings.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/SampleDataProvider.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/datastore/DebugPreferences.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/di/DebugDataStoreModule.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/ui/DebugSettingsActivity.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/ui/DebugSettingsComponents.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/ui/DebugSettingsScreen.kt
  app/src/debug/java/timur/gilfanov/messenger/debug/ui/DebugSettingsViewModel.kt
  app/src/debug/java/timur/gilfanov/messenger/di/DebugDataSourceModule.kt
  app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFakeTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/sync/SyncRaceConditionTest.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugDataRepositoryTest.kt
  app/src/test/java/timur/gilfanov/messenger/debug/DebugTestData.kt
  app/src/test/java/timur/gilfanov/messenger/debug/LocalDataSourceFakeDebugTest.kt
  app/src/test/java/timur/gilfanov/messenger/debug/LocalDebugDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/debug/RemoteDataSourceFakeDebugTest.kt
  app/src/test/java/timur/gilfanov/messenger/debug/TrackingTestLogger.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTest.kt
  config/detekt/detekt.yml
Due: Application Core

Add profile image support for participants with Coil integration
  app/build.gradle.kts
  app/src/debug/java/timur/gilfanov/messenger/domain/testutil/DomainTestFixtures.kt
  app/src/main/java/timur/gilfanov/messenger/ui/component/ProfileImage.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubble.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/test/java/timur/gilfanov/messenger/ui/component/ProfileImageComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubbleComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatAvatarWithProfileImageComponentTest.kt
  gradle/libs.versions.toml
Due: Chat Feature, UI Screens

Add a note on verifying commits before pushing to the repository in `CLAUDE.md`.
  CLAUDE.md
Due: none

Add AGENTS.md contributor guide and commit rules
  AGENTS.md
Due: none

Add screenshot testing
  .github/workflows/main.yml
  .github/workflows/screenshots.yml
  app/build.gradle.kts
  app/src/test/java/timur/gilfanov/messenger/testutil/LocaleTimeZoneRule.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubbleScreenshotTest.kt
  docs/Screenshot Testing.md
  gradle/libs.versions.toml
Due: none

Separate update goldens workflow to resolve permission issue
  .github/workflows/main.yml
  .github/workflows/screenshots-update-golden.yml
  .github/workflows/screenshots-verify.yml
  docs/Screenshot Testing.md
Due: none

Remove redundant job name from screenshot verification workflow
  .github/workflows/screenshots-verify.yml
Due: none

Add Screenshot category and update screenshot workflows
  .github/workflows/screenshots-update-golden.yml
  .github/workflows/screenshots-verify.yml
  app/src/test/java/timur/gilfanov/messenger/annotations/TestCategories.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubbleScreenshotTest.kt
Due: none

Add dependency on build-mock for screenshot tests workflow
  .github/workflows/main.yml
Due: none

Don't download APK for unit and component tests
  .github/workflows/main.yml
Due: none

Remove Codex Guidelines
  AGENTS.md
Due: none

Add screenshot testing (#86)
  .github/workflows/main.yml
  .github/workflows/screenshots-update-golden.yml
  .github/workflows/screenshots-verify.yml
  app/build.gradle.kts
  app/src/test/java/timur/gilfanov/messenger/annotations/TestCategories.kt
  app/src/test/java/timur/gilfanov/messenger/testutil/LocaleTimeZoneRule.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubbleScreenshotTest.kt
  docs/Screenshot Testing.md
  gradle/libs.versions.toml
Due: none

Add localized delivery error messages and fix screenshot test debug overlays
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubble.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/utils/DeliveryErrorExtensions.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubbleScreenshotTest.kt
Due: Chat Feature, UI Screens

Improve workflow organization and add screenshot size limit enforcement
  .github/workflows/screenshots-update-golden.yml
  app/build.gradle.kts
  app/src/test/screenshots/.gitkeep
  docs/Screenshot Testing.md
Due: none

Add localized delivery error messages and fix screenshot test debug overlays (#88)
  .github/workflows/screenshots-update-golden.yml
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubble.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/utils/DeliveryErrorExtensions.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubbleScreenshotTest.kt
  app/src/test/screenshots/.gitkeep
  docs/Screenshot Testing.md
Due: Chat Feature, UI Screens

Add screenshot testing to Testing Strategy and README documentation
  README.md
  docs/Screenshot Testing.md
  docs/Testing Strategy.md
Due: none

Integrate screenshot visual diff commenting into verification workflow
  .github/workflows/main.yml
  .github/workflows/screenshots-verify.yml
  docs/Screenshot Testing.md
Due: none

Fix workflow permissions for screenshot commenting
  .github/workflows/main.yml
  .github/workflows/screenshots-verify.yml
  app/src/main/res/values/strings.xml
Due: none

Fix screenshot commenting when verification fails
  .github/workflows/screenshots-verify.yml
Due: none

Implement companion branch approach for inline screenshot display
  .github/workflows/screenshot-cleanup.yml
  .github/workflows/screenshots-verify.yml
  docs/Screenshot Testing.md
Due: none

Fix GitHub Actions authentication for companion branch pushes
  .github/workflows/main.yml
  .github/workflows/screenshots-verify.yml
Due: none

Fix branch checkout issue in companion branch workflow
  .github/workflows/screenshots-verify.yml
Due: none

Simplify instructions for updating screenshots in verification workflow
  .github/workflows/screenshots-verify.yml
Due: none

Revert delivery error message for network unavailability
  app/src/main/res/values/strings.xml
Due: none

Refactor screenshot verification message for clarity
  .github/workflows/screenshots-verify.yml
Due: none

Add screenshot visual diffs in PR comments and update documentstion on screenshot testing (#89)
  .github/workflows/main.yml
  .github/workflows/screenshot-cleanup.yml
  .github/workflows/screenshots-verify.yml
  README.md
  app/src/test/screenshots/timur.gilfanov.messenger.ui.screen.chat.MessageBubbleScreenshotTest.incoming_failed_dark.png
  app/src/test/screenshots/timur.gilfanov.messenger.ui.screen.chat.MessageBubbleScreenshotTest.outgoing_read_light.png
  docs/Screenshot Testing.md
  docs/Testing Strategy.md
Due: none

Change timestamp alpha and overlap spacing in MessageBubble
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubble.kt
Due: Chat Feature, UI Screens

Expand screenshot testing coverage for UI components
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubbleScreenshotTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/MessageInputScreenshotTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItemScreenshotTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/EmptyStateComponentScreenshotTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRowScreenshotTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screenshot/ScreenshotTestBase.kt
Due: none

Adjust ChatListItem layout for consistent spacing and avatar size incrementation
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
Due: UI Screens
