Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...90"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

component_management:
  individual_components:
    - component_id: domain_entities
      name: "Domain Entities"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/**"
    
    - component_id: domain_usecases
      name: "Domain Use Cases"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/**"
    
    - component_id: chat_feature
      name: "Chat Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**"
    
    - component_id: message_feature
      name: "Message Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**"
    
    - component_id: ui_screens
      name: "UI Screens"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/**"
    
    - component_id: ui_theme
      name: "UI Theme"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/theme/**"
    
    - component_id: data_layer
      name: "Data Layer"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/data/**"
    
    - component_id: dependency_injection
      name: "Dependency Injection"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/di/**"
    
    - component_id: validation_logic
      name: "Validation Logic"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**"
    
    - component_id: application_core
      name: "Application Core"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/MainActivity.kt"
        - "app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt"

flag_management:
  individual_flags:
    
    - name: unit
      carryforward: true
      statuses:
        - type: project
          target: 80%
          threshold: 1%
    
    - name: component
      carryforward: true
      statuses:
        - type: project
          target: 70%
          threshold: 1%
    
    - name: feature
      carryforward: true
      statuses:
        - type: project
          target: 50%
          threshold: 1%
    
    - name: application
      carryforward: true
      statuses:
        - type: project
          target: 40%
          threshold: 1%
    
    - name: release_candidate
      carryforward: true
      statuses:
        - type: project
          target: 30%
          threshold: 30%
    
    - name: local
      carryforward: true
    
    - name: robolectric
      carryforward: true
    
    - name: emulator
      carryforward: true
    
    - name: device
      carryforward: true
    
    - name: phone
      carryforward: true
    
    - name: tablet
      carryforward: true
    
    - name: foldable
      carryforward: true

refactor(test): Simplify exception import in DataStoreFake
  app/src/test/java/timur/gilfanov/messenger/data/source/local/DataStoreFake.kt
Due: none

Fix: Remove redundant test for exception inequality
  app/src/test/java/timur/gilfanov/messenger/data/source/ErrorReasonTest.kt
Due: none

Refactor UserSettingsDataStoreManagerFake for clarity
  app/src/test/java/timur/gilfanov/messenger/data/source/local/UserSettingsDataStoreManagerFake.kt
Due: none

Refactor use case tests to use shared test stubs
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/IdentityRepositoryStub.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveUiLanguageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/SettingsRepositoryStub.kt
Due: none

Refactor: Remove UserNotFound from remote data source errors
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteUserDataSourceError.kt
Due: Data Layer

Refactor: Generalize RepositoryError documentation from sync-specific to operation-agnostic
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RepositoryError.kt
Due: Domain Use Cases

Refactor: Rename UserRepository error wrapper to Repository
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RemovePictureRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdateNameRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdatePictureRepositoryError.kt
Due: Domain Use Cases

Refactor: Make `identity` property private in test
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCaseTest.kt
Due: none

Enhance ErrorReason unit test for equality
  app/src/test/java/timur/gilfanov/messenger/data/source/ErrorReasonTest.kt
Due: none

Add settings synchronization with Room and WorkManager
  app/build.gradle.kts
  app/schemas/timur.gilfanov.messenger.data.source.local.database.MessengerDatabase/2.json
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/AndroidManifest.xml
  app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/MessengerDatabase.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/SettingEntity.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/datastore/UserSettingsDataStoreManager.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/datastore/UserSettingsDataStoreManagerImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/datastore/UserSettingsPreferences.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncAllSettingsWorker.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncSettingWorker.kt
  app/src/main/java/timur/gilfanov/messenger/di/DataSourceModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/DataStoreModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/DatabaseModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/WorkManagerModule.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/SettingKey.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/SettingsConflictEvent.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsRepository.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/UserSettingsDataStoreManagerFake.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/SettingsRepositoryStub.kt
  gradle/libs.versions.toml
Due: Domain Entities, Domain Use Cases, Data Layer, Dependency Injection, Application Core

Remove unused SettingsConflict error type
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/GetSettingsRepositoryError.kt
Due: Domain Use Cases

Add exception handling for Room database operations
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/SettingsDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/GetSettingsRepositoryError.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveUiLanguageUseCaseTest.kt
Due: Domain Use Cases, Data Layer

Refactor settings data layer with robust error handling and @Upsert
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/SettingsDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDao.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ChangeLanguageRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/GetSettingsRepositoryError.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCaseTest.kt
Due: Domain Use Cases, Data Layer

Implement domain-level settings update with pure mapping functions
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/SettingsDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDao.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: Data Layer

Remove unused SettingsMetadata from domain model
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/Settings.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/SettingsMetadata.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/SettingsState.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveUiLanguageUseCaseTest.kt
Due: Domain Entities, Data Layer

Fix server version tracking in settings recovery
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
Due: Data Layer

Introduce typed settings wrappers for type safety at data boundaries
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSetting.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettings.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSetting.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettings.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
Due: Data Layer

Centralize UiLanguage string conversion with bidirectional map
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettings.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/UiLanguageMapper.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettings.kt
Due: Data Layer

Refactor RemoteSetting to sealed interface with proper version tracking
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSetting.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettings.kt
Due: Data Layer

Document and validate server version contract semantics
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSetting.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSetting.kt
  app/src/main/java/timur/gilfanov/messenger/di/DatabaseModule.kt
Due: Data Layer, Dependency Injection

Add fallbackToDestructiveMigration for development database changes
  app/src/main/java/timur/gilfanov/messenger/di/DatabaseModule.kt
Due: Dependency Injection

Add server value validation with current-value fallback
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncSettingWorker.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: Data Layer

Add runtime validation for localVersion >= 1
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSetting.kt
Due: Data Layer

Fix: Initialize default `UI_LANGUAGE` setting with correct values
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

Refactor: Harden version invariants in setting models
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSetting.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSetting.kt
Due: Data Layer

Add atomic batch upsert for settings recovery
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDao.kt
Due: Data Layer

Use atomic batch upsert for default settings creation
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

Refactor: Clarify SettingsConflictEvent value fields
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/SettingsConflictEvent.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: Domain Entities, Data Layer

Refactor: Remove redundant try-catch block in batch sync
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

Refactor: Unify local data source `update` and `upsert` methods
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/SettingsDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/UpdateSettingsLocalDataSourceError.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: Data Layer

Remove `applyRemoteSettings` and `syncLocalToRemote` from SettingsRepository
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsRepository.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/SettingsRepositoryStub.kt
Due: Domain Use Cases, Data Layer

Refactor: Introduce detailed, recoverable repository errors
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/SettingsDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/UpdateSettingsLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/GetSettingsRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RecoverSettingsRepositoryError.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveUiLanguageUseCaseTest.kt
Due: Domain Use Cases, Data Layer

Refactor: Encapsulate `observe()` errors in `LocalSettingsDataSource`
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/GetSettingsLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
Due: Data Layer

Add: LocalSettingsDataSource component tests
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplObserveTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDaoTest.kt
Due: none

Add: Validation and mapping unit tests
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/UiLanguageMapperTest.kt
Due: none

Fix: Prevent duplicate emissions in settingsData stream
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

Refactor: Add recovery and WorkManager tests for SettingsRepository
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Add recovery tests for invalid remote setting values
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

feat: Implement server versioning in RemoteSettingsDataSourceFake
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFakeTest.kt
Due: none

Add: LocalSettingsDataSource exception handling tests
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplExceptionTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDaoWithErrorInjection.kt
Due: none
