Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

refactor(util): simplify block liveness checks in RepeatOnSubscription tests
  app/src/test/java/timur/gilfanov/messenger/util/RepeatOnSubscriptionUnitTest.kt
Due: none

fix(util): add missing runCurrent() after advanceTimeBy in restart test
  app/src/test/java/timur/gilfanov/messenger/util/RepeatOnSubscriptionUnitTest.kt
Due: none

refactor(util): extract inline duration literals to named constants in RepeatOnSubscriptionUnitTest
  app/src/test/java/timur/gilfanov/messenger/util/RepeatOnSubscriptionUnitTest.kt
Due: none

feat(util): add `repeatOnSubscription` extension for `MutableStateFlow` (#206)
  app/src/main/java/timur/gilfanov/messenger/util/RepeatOnSubscription.kt
  app/src/test/java/timur/gilfanov/messenger/util/RepeatOnSubscriptionUnitTest.kt
Due: none

feat(ui): apply repeatOnSubscription to ProfileViewModel and ChatListViewModel
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModelObservationTest.kt
Due: UI Screens

feat(settings): gate observation on subscribers with `repeatOnSubscription`
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsUi.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelObservationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelProcessDeathTest.kt
Due: UI Screens

fix(ui): wrap ChatListViewModel observers in supervisorScope
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
Due: UI Screens

fix(ui): remove permanent _state collector in ProfileViewModel
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModel.kt
Due: UI Screens

chore(claude): add commit-message skill for conventional commits (#207)
  .claude/skills/commit-message/SKILL.md
  .claude/skills/commit-message/conventional-commits-1-0-0.md
Due: none

fix(settings): persist SettingsUi directly to avoid constant _state subscription
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelProcessDeathTest.kt
Due: UI Screens

feat(ui): apply repeatOnSubscription to ProfileViewModel and ChatListViewModel (#209)
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModelObservationTest.kt
Due: UI Screens

refactor(settings): migrate LanguageViewModel from Orbit MVI to MVVM
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelChangeLanguageTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelInitialStateTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelObservationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelStateTransitionsTest.kt
Due: UI Screens

refactor(settings): remove Orbit MVI, use MVVM (#210)
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsUi.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelObservationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelProcessDeathTest.kt
Due: UI Screens

test(settings): replace timing literals with named constants and restore missing tests
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelChangeLanguageTest.kt
Due: none

refactor(ui): remove Orbit MVI from ChatViewModel, use MVVM
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatPaginationIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelProcessDeathTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: Chat Feature, UI Screens

test(settings): replace timing literals with named constants in remaining LanguageViewModel tests
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelInitialStateTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelObservationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelStateTransitionsTest.kt
Due: none

feat(settings): enforce last-write-wins ordering for language changes
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModel.kt
Due: UI Screens

test(settings): fix Unknown repository error test to assert on effects channel
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelObservationTest.kt
Due: none

refactor(settings): migrate LanguageViewModel from Orbit MVI to MVVM (#211)
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelChangeLanguageTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelInitialStateTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelObservationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelStateTransitionsTest.kt
Due: UI Screens

Define business requirements for ChatViewModel.
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
Due: Chat Feature, UI Screens

test(chat): fix flaky pagination integration tests by awaiting Ready state
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatPaginationIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelProcessDeathTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: none

test(chat): fix effects race condition
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
Due: none

feat(chat): serialize sendMessage via channel to restore Orbit intent ordering
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
Due: Chat Feature, UI Screens

test(chat): verify no trailing side effects after clearing input text
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
Due: none

test(chat): refactor message sending test assertions
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
Due: none

fix(chat): unblock channel processor after first success to fix sequential sends
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
Due: Chat Feature, UI Screens

docs(architecture): introduce multi-module architecture ADR
  docs/architecture/ADR-001-introduce-multi-module-architecture.md
Due: none

test(chat): replace random UUIDs and timestamps with fixed test constants
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
Due: none

Update docs/architecture/ADR-001-introduce-multi-module-architecture.md
  docs/architecture/ADR-001-introduce-multi-module-architecture.md
Due: none

docs(architecture): introduce multi-module architecture ADR (#217)
  docs/architecture/ADR-001-introduce-multi-module-architecture.md
Due: none

fix(chat): clear input only once per send, not on every subsequent success
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
Due: Chat Feature, UI Screens

refactor(chat): use finally to unconditionally complete acknowledged deferred
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
Due: Chat Feature, UI Screens

refactor(chat): simplify message sending logic in `ChatViewModel`
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
Due: Chat Feature, UI Screens

refactor(chat): access `viewModel.effects` directly in `LaunchedEffect`
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
Due: Chat Feature, UI Screens

clean(chat): remove stale business requirements documentation
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
Due: Chat Feature, UI Screens

docs(requirements): add chat requirements
  docs/requirements/chat.md
Due: none

test(chat): remove unnecessary cancelAndIgnoreRemainingEvents() calls
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatPaginationIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelProcessDeathTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: none

docs(requirements): consolidate idempotency requirements for message delivery
  docs/requirements/chat.md
Due: none

refactor(ui): remove Orbit MVI from ChatViewModel, use MVVM (#212)
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatPaginationIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelProcessDeathTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: Chat Feature, UI Screens

Path conditions:
  Domain Entities: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/**
  Domain Use Cases: any of: app/src/main/java/timur/gilfanov/messenger/domain/usecase/**
  Chat Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**, app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**
  Message Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**
  UI Screens: any of: app/src/main/java/timur/gilfanov/messenger/ui/screen/**
  UI Theme: any of: app/src/main/java/timur/gilfanov/messenger/ui/theme/**
  Data Layer: any of: app/src/main/java/timur/gilfanov/messenger/data/**
  Dependency Injection: any of: app/src/main/java/timur/gilfanov/messenger/di/**
  Validation Logic: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**, app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**
  Application Core: any of: app/src/main/java/timur/gilfanov/messenger/MainActivity.kt, app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
