Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...90"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

component_management:
  individual_components:
    - component_id: domain_entities
      name: "Domain Entities"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/**"
    
    - component_id: domain_usecases
      name: "Domain Use Cases"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/**"
    
    - component_id: chat_feature
      name: "Chat Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**"
    
    - component_id: message_feature
      name: "Message Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**"
    
    - component_id: ui_screens
      name: "UI Screens"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/**"
    
    - component_id: ui_theme
      name: "UI Theme"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/theme/**"
    
    - component_id: data_layer
      name: "Data Layer"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/data/**"
    
    - component_id: dependency_injection
      name: "Dependency Injection"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/di/**"
    
    - component_id: validation_logic
      name: "Validation Logic"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**"
    
    - component_id: application_core
      name: "Application Core"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/MainActivity.kt"
        - "app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt"

flag_management:
  individual_flags:
    
    - name: unit
      carryforward: true
      statuses:
        - type: project
          target: 80%
          threshold: 1%
    
    - name: component
      carryforward: true
      statuses:
        - type: project
          target: 70%
          threshold: 1%
    
    - name: feature
      carryforward: true
      statuses:
        - type: project
          target: 50%
          threshold: 1%
    
    - name: application
      carryforward: true
      statuses:
        - type: project
          target: 40%
          threshold: 1%
    
    - name: release_candidate
      carryforward: true
      statuses:
        - type: project
          target: 30%
          threshold: 30%
    
    - name: local
      carryforward: true
    
    - name: robolectric
      carryforward: true
    
    - name: emulator
      carryforward: true
    
    - name: device
      carryforward: true
    
    - name: phone
      carryforward: true
    
    - name: tablet
      carryforward: true
    
    - name: foldable
      carryforward: true

Remove blocking progress simulation from RemoteMessageDataSource
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteMessageDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteMessageDataSourceImpl.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteMessageDataSourceImplTest.kt
Due: Data Layer

Implement RemoteSyncDataSource with adaptive polling and comprehensive delta synchronization
  REMOTE_DATA_SOURCE_IMPLEMENTATION_PLAN.md
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSyncDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/ChatDeltaDto.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/ChatListDeltaDto.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/ChatMetadataDto.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/DtoMappers.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteChatDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteMessageDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSyncDataSourceImplTest.kt
Due: Data Layer

Complete Phase 5: Integration Testing & Dependency Injection Setup
  REMOTE_DATA_SOURCE_IMPLEMENTATION_PLAN.md
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/DtoMappers.kt
  app/src/main/java/timur/gilfanov/messenger/di/DataSourceModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/NetworkModule.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/MockServerScenarios.kt
Due: Data Layer, Dependency Injection

Update CI/CD workflow and documentation for product flavors
  .github/workflows/main.yml
  CLAUDE.md
Due: none

Fix critical CancellationException handling in remote data sources
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteChatDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteMessageDataSourceImpl.kt
Due: Data Layer

Improve integration test specificity and use Turbine test patterns
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
Due: none

Refactor TestLogger to debug sourceset for better test accessibility
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
  app/src/debug/java/timur/gilfanov/messenger/TestLogger.kt
Due: none

Update test files to use TestLogger from debug sourceset
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFakeTest.kt
Due: none

Update source files to use TestLogger from debug sourceset
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteMessageDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSyncDataSourceImpl.kt
Due: Data Layer

Fix delta sequencing in MockServerScenarios for proper integration testing
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/MockServerScenarios.kt
Due: none

Refactor integration tests for better organization and maintainability
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
Due: none

Fix coverage report generation for flavor-specific builds
  app/build.gradle.kts
Due: none

Refactor integration tests to use real local data sources with in-memory database
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
Due: none

Fix test isolation by injecting CoroutineScope into MessengerRepositoryImpl
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/di/RepositoryModule.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/TestRepositoryWithRealImplementation.kt
Due: Data Layer, Dependency Injection

Replace `Thread.getName()` with `Thread.getThreadId()` in test file naming for better uniqueness.
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
Due: none

Inject CoroutineScope into MessengerRepositoryImpl for test control
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
Due: Data Layer

Fix integration test background scope management
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
Due: none

Add logging for chat delta processing in LocalSyncDataSourceImpl and LocalChatDataSourceImpl
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImpl.kt
Due: Data Layer

Enhance TestLogger with time and coroutine context in log output.
  app/src/debug/java/timur/gilfanov/messenger/TestLogger.kt
Due: none

Add detailed logging investigate flaky test in MessengerRepositoryIntegrationTest
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImpl.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
Due: Data Layer

Fix Thread.threadId() compatibility issue in AndroidTestRepositoryWithRealImplementation
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
Due: none

Use `distinctUntilChanged` in `flowChatList` to avoid redundant emissions.
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImpl.kt
Due: Data Layer

Remove logs used to investigate flaky test.
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImpl.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
Due: Data Layer

Use `distinctUntilChanged` in LocalChatDataSourceImpl.kt flowChatUpdates to reduce redundant emissions.
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImpl.kt
Due: Data Layer

Remove REMOTE_DATA_SOURCE_IMPLEMENTATION_PLAN.md now that initial remote data source implementation is completed.
  REMOTE_DATA_SOURCE_IMPLEMENTATION_PLAN.md
Due: none

Update timestamps in OpenAPI code generation strategy document
  docs/OpenAPI_Code_Generation_Strategy.md
Due: none

Impement remote data source (#64)
  .github/workflows/main.yml
  CLAUDE.md
  app/build.gradle.kts
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/TestLogger.kt
  app/src/debug/java/timur/gilfanov/messenger/TestLogger.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteChatDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteMessageDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteMessageDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSyncDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/ApiErrorCode.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/BaseDto.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/ChatDeltaDto.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/ChatDto.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/ChatListDeltaDto.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/ChatMetadataDto.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/DtoMappers.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/ErrorResponseDtoSerializer.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/MessageDto.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/network/ApiRoutes.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/network/ErrorMapper.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/network/KtorClient.kt
  app/src/main/java/timur/gilfanov/messenger/di/DataSourceModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/NetworkModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/RepositoryModule.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFakeTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/MockServerScenarios.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteChatDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteMessageDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSyncDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/TestRepositoryWithRealImplementation.kt
  docs/OpenAPI_Code_Generation_Strategy.md
  gradle/libs.versions.toml
Due: Data Layer, Dependency Injection

Update CLAUDE.md with revised test commands and annotation flags
  CLAUDE.md
Due: none

Update README with detailed project documentation and architecture
  README.md
Due: none

Relocate `Testing Strategy.md` to the `docs/` directory for improved organization and update references in `CLAUDE.md` and `README.md`.
  CLAUDE.md
  README.md
  docs/OpenAPI Code Generation Strategy.md
  docs/Testing Strategy.md
Due: none

Update README with project sneak peek (#65)
  CLAUDE.md
  README.md
  docs/OpenAPI Code Generation Strategy.md
  docs/Testing Strategy.md
Due: none

Standardize test fixture and builder naming conventions
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/testutil/DomainTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiStateUnitTest.kt
Due: none

Standardize test fixture and builder naming conventions (#68)
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/testutil/DomainTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiStateUnitTest.kt
Due: none

Implement message pagination data layer
  app/build.gradle.kts
  app/src/debug/java/timur/gilfanov/messenger/data/repository/MessengerEmptyRepositoryStub.kt
  app/src/debug/java/timur/gilfanov/messenger/data/repository/MessengerInMemoryRepositoryFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/repository/MessengerNotEmptyRepositoryFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/MessageDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/paging/MessagePagingSource.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/MessageRepository.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/message/CreateMessageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/message/DeleteMessageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/message/EditMessageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/repository/RepositoryFake.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/TestRepositoryWithRealImplementation.kt
  gradle/libs.versions.toml
Due: Domain Use Cases, Data Layer

Implement message pagination domain and view layers (#67)
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
  app/src/main/java/timur/gilfanov/messenger/di/ChatModule.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/GetPagedMessagesUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: Domain Use Cases, Chat Feature, UI Screens, Dependency Injection

Update ChatViewModel tests for pagination support
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/GetPagedMessagesUseCase.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: Domain Use Cases

Add comprehensive pagination testing with proper test architecture
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/message/GetPagedMessagesUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatPaginationIntegrationTest.kt
Due: none

Replace list-based messages with Flow<PagingData<Message>> in ChatUiState
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
Due: Chat Feature, UI Screens

Update tests for pagination architecture and add test fixtures
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/message/GetPagedMessagesUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatPaginationIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/TestRepositoryWithRealImplementation.kt
Due: none

Implement synchronized pagination testing with ChatRepositoryFakeWithPaging
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: none
