Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

Align UpdateNameError with UpdateNameRepositoryError structure
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UpdateNameError.kt
Due: Domain Use Cases

Update app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditSideEffects.kt
Due: UI Screens

Annotate Uploading percent with @IntRange
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/UploadProgress.kt
Due: Data Layer

Docs: Explain @Stable annotation for ChatList actions
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
Due: UI Screens

Refactor: Remove profile picture sizing from UserUiState
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/UserUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/UserViewModel.kt
Due: UI Screens

Docs: Add error handling strategy documentation for ProfileEditUiState
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditUiState.kt
Due: UI Screens

Refactor: Distinguish rate limiting from user cooldown restrictions
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UserOperationError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RepositoryError.kt
Due: Domain Use Cases

Refactor: Replace nullable Int with type-safe FileUploadState
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/FileUploadState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileEditUiState.kt
Due: UI Screens

Refactor error types from inheritance to composition pattern
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalUserDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/ChangeUiLanguageRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteUserDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemovePictureRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/UpdateNameRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/UpdatePictureRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/GetProfileError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/RemovePictureError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UpdateNameError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UpdatePictureError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UserOperationError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ChangeLanguageRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RemovePictureRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdateNameRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdatePictureRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UserRepositoryError.kt
Due: Domain Use Cases, Data Layer

Move AccessDenied from RepositoryError to UserRepositoryError
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UserRepositoryError.kt
Due: Domain Use Cases

Standardize remote data source error wrapper naming
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/ChangeUiLanguageRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemovePictureRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/UpdateNameRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/UpdatePictureRemoteDataSourceError.kt
Due: Data Layer

Replace use case error wrappers with type aliases
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/GetProfileError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/RemovePictureError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UpdateNameError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UpdatePictureError.kt
Due: Domain Use Cases

Split AccessDenied into Unauthenticated and InsufficientPermissions
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UserRepositoryError.kt
Due: Domain Use Cases

Add detailed authentication and authorization errors to RemoteUserDataSourceError
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteUserDataSourceError.kt
Due: Data Layer

Refactor error types from inheritance to composition pattern (#99)
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalUserDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/ChangeUiLanguageRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteUserDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemovePictureRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/UpdateNameRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/UpdatePictureRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/GetProfileError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/RemovePictureError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UpdateNameError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UpdatePictureError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/UserOperationError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ChangeLanguageRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RemovePictureRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdateNameRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdatePictureRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UserRepositoryError.kt
Due: Domain Use Cases, Data Layer

Implement ChangeUiLanguageUseCase with unit tests
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCase.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCaseTest.kt
Due: Domain Use Cases, Data Layer

Add SettingsRepository implementation with fake data sources
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/ResultWithError.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: Domain Entities, Data Layer

Add new utility functions to ResultWithError
  app/src/main/java/timur/gilfanov/messenger/domain/entity/ResultWithError.kt
Due: Domain Entities

Introduce Identity entity for device-specific settings support
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/DeviceId.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/Identity.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/GetIdentityError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/IdentityRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsRepository.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCaseTest.kt
Due: Domain Entities, Domain Use Cases

Implement LocalSettingsDataSource with DataStore for change language
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/InsertSettingsLocalDataSourceError.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/ResetSettingsLocalDataSourceError.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/UpdateSettingsLocalDataSourceError.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceErrorV2.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalUserDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/datastore/UserSettingsDataStoreManager.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/datastore/UserSettingsPreferences.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/ChangeUiLanguageRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceErrorV2.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteUserDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ChangeLanguageRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsChangeBackupError.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
Due: Domain Use Cases, Data Layer

Refactor DI modules - split DatabaseModule into Database + DataStore
  app/src/main/java/timur/gilfanov/messenger/di/DataStoreModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/DatabaseModule.kt
Due: Dependency Injection

Add settings metadata infrastructure
  app/src/main/java/timur/gilfanov/messenger/data/source/local/datastore/UserSettingsPreferences.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/Settings.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/SettingsMetadata.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/SettingsSource.kt
Due: Domain Entities, Data Layer

Update LocalSettingsDataSource with metadata support
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/GetSettingsLocalDataSourceError.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/UpdateSettingsLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/datastore/UserSettingsDataStoreManager.kt
Due: Data Layer

Add repository operation-specific error types
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/UpdateSettingsRemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ApplyRemoteSettingsRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ChangeLanguageRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/GetSettingsRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SyncLocalToRemoteRepositoryError.kt
Due: Domain Use Cases, Data Layer

Implement conflict detection and resolution in repository
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSyncDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/di/RepositoryModule.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsRepository.kt
Due: Domain Use Cases, Data Layer, Dependency Injection

Update tests with metadata support
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCaseTest.kt
Due: none

Move local settings data source errors to main source set
  app/src/main/java/timur/gilfanov/messenger/data/source/local/GetSettingsLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/InsertSettingsLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/ResetSettingsLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/UpdateSettingsLocalDataSourceError.kt
Due: Data Layer

Add some tests for SettingsRepositoryImpl
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Add comprehensive tests for SettingsRepositoryImpl error paths
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

chore: Clean up imports and trailing newline
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Add tests for LocalSettingsDataSourceImpl to improve coverage
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
Due: none

Refactor settings deserialization with proper error handling
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
Due: Data Layer

Add to tests to changeLanguage in SettingsRepositoryImpl
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Add DataStore error handling tests for LocalSettingsDataSourceImpl
  app/src/main/java/timur/gilfanov/messenger/data/source/local/datastore/UserSettingsDataStoreManager.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/datastore/UserSettingsDataStoreManagerImpl.kt
  app/src/main/java/timur/gilfanov/messenger/di/DataStoreModule.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/DataStoreFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/UserSettingsDataStoreManagerFake.kt
Due: Data Layer, Dependency Injection

chore: Fix import order in UserSettingsDataStoreManagerFake
  app/src/test/java/timur/gilfanov/messenger/data/source/local/UserSettingsDataStoreManagerFake.kt
Due: none

Add test of conflict between local and remote settings in SettingsRepositoryImpl
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Refactor: replace Throwable with ErrorReason to fix equality
  app/src/main/java/timur/gilfanov/messenger/data/source/ErrorReason.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceErrorV2.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceErrorV2.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/ErrorReasonTest.kt
Due: Data Layer

Chore: Suppress KDoc unresolved reference warning in ChangeUiLanguageUseCase
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCase.kt
Due: Domain Use Cases

Path conditions:
  Domain Entities: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/**
  Domain Use Cases: any of: app/src/main/java/timur/gilfanov/messenger/domain/usecase/**
  Chat Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**, app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**
  Message Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**
  UI Screens: any of: app/src/main/java/timur/gilfanov/messenger/ui/screen/**
  UI Theme: any of: app/src/main/java/timur/gilfanov/messenger/ui/theme/**
  Data Layer: any of: app/src/main/java/timur/gilfanov/messenger/data/**
  Dependency Injection: any of: app/src/main/java/timur/gilfanov/messenger/di/**
  Validation Logic: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**, app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**
  Application Core: any of: app/src/main/java/timur/gilfanov/messenger/MainActivity.kt, app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
