Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...90"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

component_management:
  individual_components:
    - component_id: domain_entities
      name: "Domain Entities"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/**"
    
    - component_id: domain_usecases
      name: "Domain Use Cases"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/**"
    
    - component_id: chat_feature
      name: "Chat Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**"
    
    - component_id: message_feature
      name: "Message Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**"
    
    - component_id: ui_screens
      name: "UI Screens"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/**"
    
    - component_id: ui_theme
      name: "UI Theme"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/theme/**"
    
    - component_id: data_layer
      name: "Data Layer"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/data/**"
    
    - component_id: dependency_injection
      name: "Dependency Injection"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/di/**"
    
    - component_id: validation_logic
      name: "Validation Logic"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**"
    
    - component_id: application_core
      name: "Application Core"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/MainActivity.kt"
        - "app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt"

flag_management:
  individual_flags:
    
    - name: unit
      carryforward: true
      statuses:
        - type: project
          target: 80%
          threshold: 1%
    
    - name: component
      carryforward: true
      statuses:
        - type: project
          target: 70%
          threshold: 1%
    
    - name: feature
      carryforward: true
      statuses:
        - type: project
          target: 50%
          threshold: 1%
    
    - name: application
      carryforward: true
      statuses:
        - type: project
          target: 40%
          threshold: 1%
    
    - name: release_candidate
      carryforward: true
      statuses:
        - type: project
          target: 30%
          threshold: 30%
    
    - name: local
      carryforward: true
    
    - name: robolectric
      carryforward: true
    
    - name: emulator
      carryforward: true
    
    - name: device
      carryforward: true
    
    - name: phone
      carryforward: true
    
    - name: tablet
      carryforward: true
    
    - name: foldable
      carryforward: true

style: Refine SettingsScreen UI and layout
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
Due: UI Screens

refactor: Update settings item title style
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
Due: UI Screens

test: Add screenshot tests for SettingsListItem
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsListItemScreenshotTest.kt
  app/src/test/screenshots/timur.gilfanov.messenger.ui.screen.settings.SettingsListItemScreenshotTest.default_dark.png
  app/src/test/screenshots/timur.gilfanov.messenger.ui.screen.settings.SettingsListItemScreenshotTest.default_light.png
  app/src/test/screenshots/timur.gilfanov.messenger.ui.screen.settings.SettingsListItemScreenshotTest.largeScreen_light.png
  app/src/test/screenshots/timur.gilfanov.messenger.ui.screen.settings.SettingsListItemScreenshotTest.longTitle_light.png
  app/src/test/screenshots/timur.gilfanov.messenger.ui.screen.settings.SettingsListItemScreenshotTest.longValue_light.png
  app/src/test/screenshots/timur.gilfanov.messenger.ui.screen.settings.SettingsListItemScreenshotTest.rtl_light.png
  app/src/test/screenshots/timur.gilfanov.messenger.ui.screen.settings.SettingsListItemScreenshotTest.smallScreen_light.png
Due: UI Screens

test: Update screenshot test for SettingsListItem
  app/src/test/screenshots/timur.gilfanov.messenger.ui.screen.settings.SettingsListItemScreenshotTest.longValue_light.png
Due: none

refactor: Remove fillMaxSize() modifier from screens in MainActivity
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
Due: Application Core

feat: Localize tab labels in MainScreen
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreen.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
Due: UI Screens

refactor: Use hiltViewModel for ProfileEditViewModel
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileEditScreen.kt
Due: UI Screens, Application Core

refactor: Extract timeout constant in application tests
  app/src/androidTest/java/timur/gilfanov/messenger/application/LanguageChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
Due: none

refactor: Use Scaffold and centralize background modifiers
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileEditScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
Due: UI Screens

chore: Remove file-level Suppress annotation
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
Due: UI Screens

refactor: Remove redundant `fillMaxSize` modifiers
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/EmptyStateComponent.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreen.kt
Due: UI Screens

refactor: Move snackbar logic into `LanguageScreen` and `MainScreen`
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreen.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreenContentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreenSideEffectsTest.kt
Due: UI Screens, Application Core

feat: Implement dynamic in-app language switching
  app/build.gradle.kts
  app/src/androidTest/java/timur/gilfanov/messenger/application/LanguageChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/application/MessageReplyApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/settings/SettingsFeatureTest.kt
  app/src/main/AndroidManifest.xml
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/LocaleRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/di/LocaleApplicationModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/RepositoryModule.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ObserveAndApplyLocaleUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/LocaleRepository.kt
  app/src/main/res/xml/locales_config.xml
  app/src/test/java/timur/gilfanov/messenger/di/TestLocaleModule.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/LocaleRepositoryStub.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveAndApplyLocaleUseCaseTest.kt
  gradle/libs.versions.toml
Due: Domain Use Cases, Data Layer, Dependency Injection, Application Core

Refactor: Simplify locale management with `AppCompatDelegate`
  app/src/androidTest/java/timur/gilfanov/messenger/application/LanguageChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/application/MessageReplyApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/settings/SettingsFeatureTest.kt
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/LocaleRepositoryImpl.kt
  app/src/main/res/values/themes.xml
  gradle/libs.versions.toml
Due: Data Layer, Application Core

feat: Introduce MainActivityViewModel to manage locale observation
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivityViewModel.kt
Due: Application Core

test: Stabilize language change application test
  app/src/androidTest/java/timur/gilfanov/messenger/application/LanguageChangeApplicationTest.kt
Due: none

Refactor: Make `LocaleRepository.applyLocale` a suspend function
  app/src/main/java/timur/gilfanov/messenger/data/repository/LocaleRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/LocaleRepository.kt
  app/src/test/java/timur/gilfanov/messenger/di/TestLocaleModule.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/LocaleRepositoryStub.kt
Due: Domain Use Cases, Data Layer

Refactor: Remove `getCurrentLocale` from `LocaleRepository`
  app/src/main/java/timur/gilfanov/messenger/data/repository/LocaleRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/LocaleRepository.kt
  app/src/test/java/timur/gilfanov/messenger/di/TestLocaleModule.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/LocaleRepositoryStub.kt
Due: Domain Use Cases, Data Layer

feat: Make LocaleRepositoryImpl a singleton
  app/src/main/java/timur/gilfanov/messenger/data/repository/LocaleRepositoryImpl.kt
Due: Data Layer

Refactor: Start locale observation automatically in MainActivityViewModel
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivityViewModel.kt
Due: Application Core

feat: Revert navigation library to alpha versions
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  gradle/libs.versions.toml
Due: Application Core

fix: Address PR review feedback for locale handling
  app/src/main/java/timur/gilfanov/messenger/data/repository/LocaleRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ObserveAndApplyLocaleUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivityViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveAndApplyLocaleUseCaseTest.kt
Due: Domain Use Cases, Data Layer

chore: Fix typo in test name
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveAndApplyLocaleUseCaseTest.kt
Due: none

Adapt language settings (#115)
  app/build.gradle.kts
  app/src/androidTest/java/timur/gilfanov/messenger/application/LanguageChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/application/MessageReplyApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/settings/SettingsFeatureTest.kt
  app/src/main/AndroidManifest.xml
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/LocaleRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/di/LocaleApplicationModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/RepositoryModule.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ObserveAndApplyLocaleUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/LocaleRepository.kt
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivityViewModel.kt
  app/src/main/res/values/themes.xml
  app/src/main/res/xml/locales_config.xml
  app/src/test/java/timur/gilfanov/messenger/di/TestLocaleModule.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/LocaleRepositoryStub.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveAndApplyLocaleUseCaseTest.kt
  gradle/libs.versions.toml
Due: Domain Use Cases, Data Layer, Dependency Injection, Application Core

Refactor: Make `IdentityRepository.getIdentity` a suspend function
  app/src/main/java/timur/gilfanov/messenger/data/repository/DefaultIdentityRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/IdentityRepository.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/IdentityRepositoryStub.kt
Due: Domain Use Cases, Data Layer

Refactor: Make `IdentityRepository.getIdentity` a suspend function (#116)
  app/src/main/java/timur/gilfanov/messenger/data/repository/DefaultIdentityRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/IdentityRepository.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/IdentityRepositoryStub.kt
Due: Domain Use Cases, Data Layer

feat: Implement real RemoteSettingsDataSource and integration tests
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/SettingsDto.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/network/ApiRoutes.kt
  app/src/main/java/timur/gilfanov/messenger/di/DataSourceModule.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/MockServerScenarios.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImplTest.kt
Due: Data Layer, Dependency Injection

Revise README for clarity and accuracy
  README.md
Due: none

Enhance README with Kotlin and Jetpack Compose details
  README.md
Due: none

Revise README for clarity and accuracy (#124)
  README.md
Due: none

Refactor: Decouple settings-related entities and errors from profile
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImpl.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImplTest.kt
Due: Data Layer

Refactor: Remove `Identity` from remote settings data source
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestSettingsHelper.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestSettingsRepository.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceStub.kt
  app/src/debug/java/timur/gilfanov/messenger/di/DebugDataSourceModule.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/TypedSettingMapping.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceNoop.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/TypedSettingSyncRequest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFakeTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImplTest.kt
Due: Data Layer

Refactor: Model sync result DTO as a sealed class
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/SettingsDto.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/MockServerScenarios.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImplTest.kt
Due: Data Layer

Refactor: Map specific API error codes to remote data source errors
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImpl.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImplTest.kt
Due: Data Layer

feat: Add validation for missing sync results in remote data source
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImplTest.kt
Due: none

Refactor: Use ISO string for Instant serialization in DTOs
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/InstantIsoSerializer.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/SettingsDto.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/MockServerScenarios.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImplTest.kt
Due: Data Layer
