Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

fix: address code review findings
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveSettingsError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/repository/GetSettingsRepositoryError.kt
Due: none

fix: revert commit to return flatMapConcat
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

move tasks plan to completed
  docs/plans/completed/2026-05-03-cascade-cleanup-on-chat-deletion.md
Due: none

refactor(settings): rename SettingsResetToDefaults to SettingsUnspecified
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryIntegrationTest.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveSettingsError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageUseCase.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/repository/GetSettingsRepositoryError.kt
  core/domain/src/test/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageUseCaseTest.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SettingsRepositoryFake.kt
Due: UI Screens, Data Layer

fix: address code review finding about participans deletion
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/ParticipantDao.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/ParticipantDaoTest.kt
Due: Data Layer

refactor(test): replace UUID.randomUUID() and literals with constants in ParticipantDaoTest
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/ParticipantDaoTest.kt
Due: none

test(settings): fix integration test dispatching and improve fake behavior
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryIntegrationTest.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SettingsRepositoryFake.kt
Due: none

Address settings error review feedback
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModel.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveSettingsError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageUseCase.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/repository/GetSettingsRepositoryError.kt
Due: UI Screens

Clean up orphaned participants on chat deletion (#372)
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/ParticipantDao.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/ParticipantDaoTest.kt
  docs/plans/completed/2026-05-03-cascade-cleanup-on-chat-deletion.md
Due: Data Layer

style: consolidate multi-line log statements in settings ViewModels
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModel.kt
Due: UI Screens

Address settings review feedback
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryIntegrationTest.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SettingsRepositoryFake.kt
Due: none

docs(settings): explain flow replay semantics in SettingsRepositoryFake
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SettingsRepositoryFake.kt
Due: none

test(settings): verify background sync scheduling in SettingsRepositoryImplTest
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Fix settings offline fallback without syncing defaults (#371)
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryIntegrationTest.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveSettingsError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageUseCase.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/repository/GetSettingsRepositoryError.kt
  core/domain/src/test/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageUseCaseTest.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SettingsRepositoryFake.kt
  docs/plans/completed/2026-05-03-fix-settings-offline-fallback-without-persisting-defaults.md
Due: UI Screens, Data Layer

refactor: standardize error type names
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceErrorV2.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalProfileDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/ProfileLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsSideEffects.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelLogoutTest.kt
  docs/architecture/AR-03-side-effects-organization.md
  feature/auth/src/androidTest/java/timur/gilfanov/messenger/auth/data/source/local/LocalAuthDataSourceImplTest.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/AuthInterceptor.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/local/AuthLocalDataSourceError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/local/LocalAuthDataSource.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/local/LocalAuthDataSourceImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSource.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCase.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/TokenRefreshUseCase.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/TokenRefreshUseCaseError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/TokenRefreshUseCaseImpl.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/AuthInterceptorTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/TokenRefreshUseCaseTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImplTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositorySignupTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositorySignupWithGoogleTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/source/local/LocalAuthDataSourceImplTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceImplTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceRegisterTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceSignupWithGoogleTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImplTest.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/LocalAuthDataSourceFake.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/data/source/local/LocalAuthDataSourceFake.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceFake.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseNoOp.kt
Due: UI Screens, Data Layer

Extract Ktor client factory into core data
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/network/KtorClient.kt
  app/src/main/java/timur/gilfanov/messenger/di/NetworkModule.kt
  core/data/build.gradle.kts
  core/data/src/main/kotlin/timur/gilfanov/messenger/data/remote/network/KtorHttpClientFactory.kt
Due: Data Layer, Dependency Injection

test: improve auth patch coverage
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImplTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceImplTest.kt
Due: none

refactor: standardize error type naming (#375)
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceErrorV2.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalProfileDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/ProfileLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsSideEffects.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelLogoutTest.kt
  docs/architecture/AR-03-side-effects-organization.md
  feature/auth/src/androidTest/java/timur/gilfanov/messenger/auth/data/source/local/LocalAuthDataSourceImplTest.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/AuthInterceptor.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/local/AuthLocalDataSourceError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/local/LocalAuthDataSource.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/local/LocalAuthDataSourceImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSource.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCase.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/TokenRefreshUseCase.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/TokenRefreshUseCaseError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/TokenRefreshUseCaseImpl.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/AuthInterceptorTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/TokenRefreshUseCaseTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImplTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositorySignupTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositorySignupWithGoogleTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/source/local/LocalAuthDataSourceImplTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceImplTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceRegisterTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceSignupWithGoogleTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseImplTest.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/LocalAuthDataSourceFake.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/data/source/local/LocalAuthDataSourceFake.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceFake.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LogoutUseCaseNoOp.kt
Due: UI Screens, Data Layer

Extract Ktor client factory into `:core:data` (#376)
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/network/KtorClient.kt
  app/src/main/java/timur/gilfanov/messenger/di/NetworkModule.kt
  core/data/build.gradle.kts
  core/data/src/main/kotlin/timur/gilfanov/messenger/data/remote/network/KtorHttpClientFactory.kt
Due: Data Layer, Dependency Injection

Validate chat message input before send
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
Due: Chat Feature, UI Screens

Validate chat message input before send (#383)
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
Due: Chat Feature, UI Screens

Address profile extraction review feedback
  .github/workflows/main.yml
  app/build.gradle.kts
  feature/profile/build.gradle.kts
  feature/profile/src/main/kotlin/timur/gilfanov/messenger/profile/data/source/local/LocalDataSourceErrorV2.kt
  feature/profile/src/main/kotlin/timur/gilfanov/messenger/profile/data/source/remote/RemoteProfileDataSource.kt
  feature/profile/src/main/kotlin/timur/gilfanov/messenger/profile/ui/screen/ProfileSection.kt
  feature/profile/src/main/res/values-de/strings.xml
  feature/profile/src/main/res/values/strings.xml
Due: none

Use Message Timeline as Send Status Source of Truth
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SendMessageFlowFactory.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
Due: Chat Feature, UI Screens, Data Layer

Preserve message fields on send failure
  app/src/main/java/timur/gilfanov/messenger/data/repository/SendMessageFlowFactory.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
Due: Data Layer

Address follow-up profile review comments
  .github/workflows/main.yml
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  feature/profile/build.gradle.kts
  feature/profile/src/main/kotlin/timur/gilfanov/messenger/profile/data/source/remote/RemoteProfileDataSource.kt
  feature/profile/src/main/kotlin/timur/gilfanov/messenger/profile/ui/screen/ProfileSection.kt
Due: UI Screens

add comments and formated build config to match `auth`
  feature/profile/build.gradle.kts
Due: none

Finish newest-first chat paging UX
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: Chat Feature, UI Screens

Refresh chat paging on updates
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: Chat Feature, UI Screens

fix review findings
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenComponentTest.kt
Due: Chat Feature, UI Screens

Add loading and error state previews to `ChatScreen`
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
Due: Chat Feature, UI Screens

Implement reactive message paging and cache flow in ChatViewModel
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/paging/MessagePagingSource.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: Chat Feature, UI Screens, Data Layer

Document database property in MessagePagingSource
  app/src/main/java/timur/gilfanov/messenger/data/source/paging/MessagePagingSource.kt
Due: Data Layer

fix: address code review findings
  app/src/main/java/timur/gilfanov/messenger/data/repository/SendMessageFlowFactory.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
Due: Chat Feature, UI Screens, Data Layer

fix: address codex review findings
  app/src/main/java/timur/gilfanov/messenger/data/repository/SendMessageFlowFactory.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
Due: Chat Feature, UI Screens, Data Layer

Rename send message operation
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SendMessageOperation.kt
Due: Data Layer

Restore errors mapping that needs future refactoring
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SendMessageOperation.kt
Due: Data Layer

Use message timeline as send status source of truth (#387)
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SendMessageOperation.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
Due: Chat Feature, UI Screens, Data Layer

fix: address codex review findings
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/ChatDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/MessageDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/ChatWithParticipants.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/mapper/EntityMappers.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/paging/MessagePagingSource.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/MockServerScenarios.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTestDataHelper.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/TestRepositoryWithRealImplementation.kt
Due: Chat Feature, UI Screens, Data Layer

Path conditions:
  Domain Entities: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/**
  Domain Use Cases: any of: app/src/main/java/timur/gilfanov/messenger/domain/usecase/**
  Chat Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**, app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**
  Message Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**
  UI Screens: any of: app/src/main/java/timur/gilfanov/messenger/ui/screen/**
  UI Theme: any of: app/src/main/java/timur/gilfanov/messenger/ui/theme/**
  Data Layer: any of: app/src/main/java/timur/gilfanov/messenger/data/**
  Dependency Injection: any of: app/src/main/java/timur/gilfanov/messenger/di/**
  Validation Logic: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**, app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**
  Application Core: any of: app/src/main/java/timur/gilfanov/messenger/MainActivity.kt, app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
