Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

Update foldable device model to "felix" in Firebase Test Lab configuration
  .github/workflows/main.yml
Due: none

Fix foldable model in application device test (#26)
  .github/workflows/main.yml
Due: none

Remove architecture coverage upload and add Codecov flag management
  .github/workflows/main.yml
  codecov.yml
Due: none

Remove architecture coverage upload and add Codecov flag management (#27)
  .github/workflows/main.yml
  codecov.yml
Due: none

Update README.md
  README.md
Due: none

Update README.md (#28)
  README.md
Due: none

Ignore Markdown files in workflow triggers
  .github/workflows/main.yml
Due: none

Remove paths-ignore for markdown files from workflow triggers
  .github/workflows/main.yml
Due: none

Do not run PR checks for README.md change (#29)
  .github/workflows/main.yml
Due: none

Revert commit. Check PR with any changes.
  .github/workflows/main.yml
Due: none

Revert commit. Check PR with any changes. (#31)
  .github/workflows/main.yml
Due: none

Fix instrumentation test imports and Hilt setup
  app/build.gradle.kts
  app/src/testShared/java/timur/gilfanov/messenger/ChatScreenInstrumentationTest.kt
  gradle/libs.versions.toml
Due: none

Add UI tests and German localization for chat input
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/GermanLocalizationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/MessageSendingJourneyApplicationTest.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageInput.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
Due: Chat Feature, UI Screens

Move instrumentation test to androidTest
  app/build.gradle.kts
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenInstrumentationTest.kt
Due: none

Remove German localization and example tests
  app/src/androidTest/java/timur/gilfanov/messenger/ExampleInstrumentedTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/GermanLocalizationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/MessageSendingJourneyApplicationTest.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageInput.kt
Due: Chat Feature, UI Screens

Test sendMessage behavior in ChatViewModel
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTest.kt
Due: Chat Feature, UI Screens

Clear chat input field right after message sending is begun.
  app/src/main/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepository.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTest.kt
Due: Chat Feature, UI Screens, Data Layer

Update existing message if message ID already exists in chat flow
  app/src/main/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepository.kt
Due: Data Layer

Add Application and Release Candidate tests (#34)
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ExampleInstrumentedTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/MessageSendingJourneyApplicationTest.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepository.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageInput.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTest.kt
Due: Chat Feature, UI Screens, Data Layer

Upload coverage reports with separate flags to Codecov
  .github/workflows/main.yml
Due: none

Upload coverage reports with separate flags to Codecov (#35)
  .github/workflows/main.yml
Due: none

Fix test categories import warnings.
  CLAUDE.md
  app/build.gradle.kts
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/MessageSendingJourneyApplicationTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/ArchitectureTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/DeclarationTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/SendMessageUseCasesFlowTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/JoinChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/ReceiveChatUpdatesUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubbleTest.kt
  build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
  test-annotations/.gitignore
  test-annotations/build.gradle.kts
  test-annotations/src/main/java/timur/gilfanov/annotations/TestCategories.kt
Due: none

Change Category annotation for unit tests
  app/src/test/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepositoryTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/entity/TextMessageTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/entity/TextValidatorTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/entity/chat/validation/ChatValidatorTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/entity/message/validation/DeliveryStatusValidatorTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/FlowChatListUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/JoinChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/LeaveChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/ReceiveChatUpdatesUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/message/CreateMessageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/message/DeleteMessageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/message/EditMessageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/privileged/CreateChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/privileged/DeleteChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/repository/RepositoryFakeTest.kt
Due: none

Update test category annotations in CI configuration
  .github/workflows/main.yml
Due: none

Upgrade Java and Kotlin compatibility to version 17
  test-annotations/build.gradle.kts
Due: none

Fix test categories import warnings (#36)
  .github/workflows/main.yml
  CLAUDE.md
  app/build.gradle.kts
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/MessageSendingJourneyApplicationTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepositoryTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/ArchitectureTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/DeclarationTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/entity/TextMessageTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/entity/TextValidatorTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/entity/chat/validation/ChatValidatorTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/entity/message/validation/DeliveryStatusValidatorTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/SendMessageUseCasesFlowTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/FlowChatListUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/JoinChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/LeaveChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/ReceiveChatUpdatesUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/message/CreateMessageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/message/DeleteMessageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/message/EditMessageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/privileged/CreateChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/privileged/DeleteChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/repository/RepositoryFakeTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubbleTest.kt
  build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
  test-annotations/.gitignore
  test-annotations/build.gradle.kts
  test-annotations/src/main/java/timur/gilfanov/annotations/TestCategories.kt
Due: none

Use Orbit fot chat UI state management
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTest.kt
  gradle/libs.versions.toml
Due: Chat Feature, UI Screens

Upload unit or component reports even if tests failed.
  .github/workflows/main.yml
Due: none

Separate unit and component test report upload steps
  .github/workflows/main.yml
Due: none

Separate uploads to Codecov (rest of not fixed)
  .github/workflows/main.yml
Due: none

Fix Unit Test report name
  .github/workflows/main.yml
Due: none

Refactor test report upload and publish steps in CI workflow
  .github/workflows/main.yml
Due: none

Fail workflow if feature tests fail and upload report
  .github/workflows/main.yml
Due: none

Update ChatViewModelTest to use dynamic timestamps for message creation
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTest.kt
Due: none

Allow test steps to continue on error and fail at end
  .github/workflows/main.yml
Due: none

Remove application unit test and coverage steps from CI workflow
  .github/workflows/main.yml
Due: none

Fix instrumented tests
  app/src/androidTest/java/timur/gilfanov/messenger/ConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/MessageSendingJourneyApplicationTest.kt
Due: none

Refactor ChatViewModel to use smart cast for state
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
Due: Chat Feature, UI Screens

Add coverage environment variables to emulator test step
  .github/workflows/main.yml
Due: none

Path conditions:
  Domain Entities: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/**
  Domain Use Cases: any of: app/src/main/java/timur/gilfanov/messenger/domain/usecase/**
  Chat Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**, app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**
  Message Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**
  UI Screens: any of: app/src/main/java/timur/gilfanov/messenger/ui/screen/**
  UI Theme: any of: app/src/main/java/timur/gilfanov/messenger/ui/theme/**
  Data Layer: any of: app/src/main/java/timur/gilfanov/messenger/data/**
  Dependency Injection: any of: app/src/main/java/timur/gilfanov/messenger/di/**
  Validation Logic: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**, app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**
  Application Core: any of: app/src/main/java/timur/gilfanov/messenger/MainActivity.kt, app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
