Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

Add comprehensive Component tests for all DAOs
  app/build.gradle.kts
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/ChatDaoTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/MessageDaoTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/ParticipantDaoTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SyncMetadataDaoTest.kt
  gradle/libs.versions.toml
Due: none

Remove SyncMetadata from database and Dao, we will use simpler data structure and storage to store sync data.
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/MessengerDatabase.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/converter/Converters.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/SyncMetadataDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/SyncMetadataEntity.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SyncMetadataDaoTest.kt
Due: Data Layer

Remove clearAllData from local sync data source.
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSource.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFakeTest.kt
Due: Data Layer

Implement LocalDataSource classes with DataStore for sync
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/datastore/SyncPreferences.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImplTest.kt
  gradle/libs.versions.toml
Due: Data Layer

Refactor LocalSyncDataSourceImplTest to use MainDispatcherRule.
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImplTest.kt
Due: none

Configure dependency injection for LocalDataSource implementations
  .kotlin/sessions/kotlin-compiler-10900611450943575146.salive
  app/build.gradle.kts
  app/schemas/timur.gilfanov.messenger.data.source.local.database.MessengerDatabase/1.json
  app/src/main/java/timur/gilfanov/messenger/di/DataSourceModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/DatabaseModule.kt
Due: Dependency Injection

Update .gitignore to exclude Kotlin-generated files
  .gitignore
  .kotlin/sessions/kotlin-compiler-10900611450943575146.salive
Due: none

Enhance local data source with transactions and domain error handling
  app/src/main/java/timur/gilfanov/messenger/data/source/local/DatabaseErrorHandler.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImpl.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImplTest.kt
Due: Data Layer

Remove DeleteMessageMode parameter from LocalMessageDataSource
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImpl.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFakeTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImplTest.kt
Due: Data Layer

Improve exception handling specificity in local data sources
  app/src/main/java/timur/gilfanov/messenger/data/source/local/DatabaseErrorHandler.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImpl.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImplTest.kt
Due: Data Layer

Use specific IOException handling for DataStore operations
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImpl.kt
Due: Data Layer

Remove legacy DatabaseUnavailable error
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
Due: Data Layer

.
  app/src/main/java/timur/gilfanov/messenger/data/source/local/DatabaseErrorHandler.kt
Due: Data Layer

Extract database setup into InMemoryDatabaseRule
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/ChatDaoTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/MessageDaoTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/ParticipantDaoTest.kt
  app/src/test/java/timur/gilfanov/messenger/testutil/InMemoryDatabaseRule.kt
Due: none

Fix concurrency problem in "isChatListUpdating initially returns false" test.
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
Due: none

Add comprehensive error handling tests for local data sources
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImplTest.kt
Due: none

Implement logging abstraction to decouple from Android framework
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/DatabaseErrorHandler.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/di/UtilModule.kt
  app/src/main/java/timur/gilfanov/messenger/util/AndroidLogger.kt
  app/src/main/java/timur/gilfanov/messenger/util/Logger.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/util/NoOpLogger.kt
Due: Data Layer, Dependency Injection

Refactor ChatEntity and MessageEntity for createdAt and updatedAt
  app/schemas/timur.gilfanov.messenger.data.source.local.database.MessengerDatabase/1.json
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/ChatEntity.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/MessageEntity.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/mapper/EntityMappers.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/ChatDaoTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/MessageDaoTest.kt
Due: Data Layer

Use real MessengerRepositoryImpl for ChatFeatureTest with fixed timestamps
  Testing Strategy.md
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTestDataHelper.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/TestRepositoryWithRealImplementation.kt
Due: none

Implement real data layer for Feature and Application instrumentation tests
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestDataHelper.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestInfrastructureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/TestLogger.kt
Due: none

Optimize test repository pattern with shared instances
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
Due: none

Check is chatListScreenEmpty_whenThereAreNoChatsEmptyStateIsShownInitially fail on GitHub Actions is about timing.
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
Due: none

Fix circular dependency causing duplicate repository initialization in tests
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
Due: none

Inject Logger via constructor in AndroidTestRepositoryWithRealImplementation
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
Due: none

Remove AndroidTestInfrastructureTest and associated placeholder tests
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestInfrastructureTest.kt
Due: none

Separate chat-specific participant properties to fix foreign key violations
  app/schemas/timur.gilfanov.messenger.data.source.local.database.MessengerDatabase/1.json
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestDataHelper.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/ChatDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/ParticipantDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/ChatParticipantCrossRef.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/ChatWithParticipantsAndMessages.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/ParticipantEntity.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/mapper/EntityMappers.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/ChatDaoTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/MessageDaoTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/ParticipantDaoTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/mapper/EntityMappersTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTestDataHelper.kt
Due: Data Layer

Improve toString() methods for better debugging output
  app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/Chat.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/Participant.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/message/TextMessage.kt
Due: Domain Entities, Chat Feature, Message Feature

Re-enable multi-chat navigation test and improve readability
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
Due: none

Apply code formatting and cleanup fixes from linter
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/ChatDaoTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/mapper/EntityMappersTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTestDataHelper.kt
Due: none

Re-enable rotation and stress tests across chat feature test classes
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
Due: none

Document technical debt and improvement areas in CLAUDE.md
  CLAUDE.md
Due: none

Refine testing section in CLAUDE.md by consolidating redundant content and improving clarity on test strategies and reproducibility.
  CLAUDE.md
Due: none

Remove TODO comment for resolver issue in Participants DAO.
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTestDataHelper.kt
Due: none

Convert TODOs to GitHub issues and clean source code
  CLAUDE.md
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/DeleteMessageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/SendMessageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/SendMessageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/EmptyStateComponent.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  test-annotations/src/main/java/timur/gilfanov/annotations/TestCategories.kt
Due: Domain Use Cases, UI Screens

Move TODOs to GitHub Issues (#63)
  CLAUDE.md
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/DeleteMessageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/SendMessageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/SendMessageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/EmptyStateComponent.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTestDataHelper.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  test-annotations/src/main/java/timur/gilfanov/annotations/TestCategories.kt
Due: Domain Use Cases, UI Screens

Implement RemoteChatDataSource with Ktor and type-safe error handling
  CLAUDE.md
  REMOTE_DATA_SOURCE_IMPLEMENTATION_PLAN.md
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteChatDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/ApiErrorCode.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/BaseDto.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/ChatDto.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/DtoMappers.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/ErrorResponseDtoSerializer.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/MessageDto.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/network/ApiRoutes.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/network/ErrorMapper.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/network/KtorClient.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteChatDataSourceImplTest.kt
  docs/OpenAPI_Code_Generation_Strategy.md
  gradle/libs.versions.toml
Due: Data Layer

Add comprehensive exception handling tests for RemoteChatDataSource
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteChatDataSourceImplTest.kt
Due: none

Implement RemoteMessageDataSourceImpl with comprehensive exception handling
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteMessageDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/DtoMappers.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/MessageDto.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteMessageDataSourceImplTest.kt
Due: Data Layer

Mark Phase 3: RemoteMessageDataSource implementation as complete with enhanced DTOs, exception handling, and comprehensive tests.
  REMOTE_DATA_SOURCE_IMPLEMENTATION_PLAN.md
Due: none

Path conditions:
  Domain Entities: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/**
  Domain Use Cases: any of: app/src/main/java/timur/gilfanov/messenger/domain/usecase/**
  Chat Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**, app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**
  Message Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**
  UI Screens: any of: app/src/main/java/timur/gilfanov/messenger/ui/screen/**
  UI Theme: any of: app/src/main/java/timur/gilfanov/messenger/ui/theme/**
  Data Layer: any of: app/src/main/java/timur/gilfanov/messenger/data/**
  Dependency Injection: any of: app/src/main/java/timur/gilfanov/messenger/di/**
  Validation Logic: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**, app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**
  Application Core: any of: app/src/main/java/timur/gilfanov/messenger/MainActivity.kt, app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
