Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...90"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

component_management:
  individual_components:
    - component_id: domain_entities
      name: "Domain Entities"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/**"
    
    - component_id: domain_usecases
      name: "Domain Use Cases"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/**"
    
    - component_id: chat_feature
      name: "Chat Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**"
    
    - component_id: message_feature
      name: "Message Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**"
    
    - component_id: ui_screens
      name: "UI Screens"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/**"
    
    - component_id: ui_theme
      name: "UI Theme"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/theme/**"
    
    - component_id: data_layer
      name: "Data Layer"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/data/**"
    
    - component_id: dependency_injection
      name: "Dependency Injection"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/di/**"
    
    - component_id: validation_logic
      name: "Validation Logic"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**"
    
    - component_id: application_core
      name: "Application Core"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/MainActivity.kt"
        - "app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt"

flag_management:
  individual_flags:
    
    - name: unit
      carryforward: true
      statuses:
        - type: project
          target: 80%
          threshold: 1%
    
    - name: component
      carryforward: true
      statuses:
        - type: project
          target: 70%
          threshold: 1%
    
    - name: feature
      carryforward: true
      statuses:
        - type: project
          target: 50%
          threshold: 1%
    
    - name: application
      carryforward: true
      statuses:
        - type: project
          target: 40%
          threshold: 1%
    
    - name: release_candidate
      carryforward: true
      statuses:
        - type: project
          target: 30%
          threshold: 30%
    
    - name: local
      carryforward: true
    
    - name: robolectric
      carryforward: true
    
    - name: emulator
      carryforward: true
    
    - name: device
      carryforward: true
    
    - name: phone
      carryforward: true
    
    - name: tablet
      carryforward: true
    
    - name: foldable
      carryforward: true

Refactor: Simplify state assertion in `LanguageViewModel` test
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelObservationTest.kt
Due: none

Refactor: Simplify `LanguageViewModel` tests with a dedicated fake
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/SettingsRepositoryFake.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelChangeLanguageTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelTestFixtures.kt
Due: none

Test: Check state is not updated after settings repository error
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelChangeLanguageTest.kt
Due: none

Test: Verify observation stream recovers after errors
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelObservationTest.kt
Due: none

docs: Simplify KDoc comments in LanguageViewModelStateTransitionsTest
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelStateTransitionsTest.kt
Due: none

Implement view model for language change screen (#104)
  app/src/androidTest/java/timur/gilfanov/messenger/application/MessageReplyApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/SettingsRepositoryStub.kt
  app/src/debug/java/timur/gilfanov/messenger/di/DebugDataSourceModule.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/DefaultIdentityRepository.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceNoop.kt
  app/src/main/java/timur/gilfanov/messenger/di/DataSourceModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/LanguageModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/RepositoryModule.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/UiLanguage.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModel.kt
  app/src/release/java/timur/gilfanov/messenger/di/ReleaseDataSourceModule.kt
  app/src/test/java/timur/gilfanov/messenger/di/TestSettingsModule.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/SettingsRepositoryFake.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelChangeLanguageTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelInitialStateTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelObservationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelStateTransitionsTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageViewModelTestFixtures.kt
Due: Domain Entities, UI Screens, Data Layer, Dependency Injection

feat: Implement LanguageScreen UI and content tests
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreen.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreenContentTest.kt
Due: UI Screens

Feat: Add content description to back navigation icon
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreen.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
Due: UI Screens

feat: Display error message on language change failure
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreen.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
Due: UI Screens

Test: Verify side effects on the LanguageScreen
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreenSideEffectsTest.kt
Due: none

Feat: Add back navigation to Language screen
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreen.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreenContentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreenSideEffectsTest.kt
Due: UI Screens

feat: Add `LoginScreen` and handle auth failures
  app/src/main/java/timur/gilfanov/messenger/navigation/Destinations.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LoginScreen.kt
Due: UI Screens

Implement language setting view (#105)
  app/src/main/java/timur/gilfanov/messenger/navigation/Destinations.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/LoginScreen.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreenContentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/LanguageScreenSideEffectsTest.kt
Due: UI Screens

feat: Make RemoteSettingsDataSource a singleton
  app/src/main/java/timur/gilfanov/messenger/di/DataSourceModule.kt
Due: Dependency Injection

chore: Remove redundant Hilt scope annotations
  app/src/main/java/timur/gilfanov/messenger/di/DataSourceModule.kt
Due: Dependency Injection

feat: Implement UserViewModel to observe profile and settings
  app/src/main/java/timur/gilfanov/messenger/di/UserModule.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ObserveProfileError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ObserveProfileUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ObserveSettingsError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ObserveSettingsUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ObserveProfileRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ObserveSettingsRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/SettingsUi.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/UserScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/UserSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/UserUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/UserViewModel.kt
Due: Domain Use Cases, UI Screens, Dependency Injection

refactor: Split UserViewModel into ProfileViewModel and SettingsViewModel
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/ProfileViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/SettingsSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/SettingsUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/SettingsViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/UserScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/UserSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/UserUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/UserViewModel.kt
Due: UI Screens

test: Add use case interfaces and comprehensive tests
  app/src/main/java/timur/gilfanov/messenger/di/UserModule.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ObserveProfileUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ObserveProfileUseCaseImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ObserveSettingsUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ObserveSettingsUseCaseImpl.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveProfileUseCaseStub.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveSettingsUseCaseImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveSettingsUseCaseStub.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/user/SettingsViewModelObservationTest.kt
Due: Domain Use Cases, Dependency Injection

refactor: Rename UserScreen to SettingsScreen
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/user/SettingsScreen.kt
Due: UI Screens

Refactor: Move settings-related screens from user to settings package
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/FileUploadState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageItem.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LoginScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileEditScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileEditSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileEditUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileEditViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileUi.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsUi.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreenContentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreenSideEffectsTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelChangeLanguageTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelInitialStateTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelObservationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelStateTransitionsTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelObservationTest.kt
Due: UI Screens

feat: Implement settings screen UI
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
Due: UI Screens

Test: Add component tests for SettingsScreenContent
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreenContentTest.kt
Due: UI Screens

Test: Add E2E test for language change flow
  app/build.gradle.kts
  app/src/androidTest/java/timur/gilfanov/messenger/application/LanguageChangeApplicationTest.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreen.kt
Due: UI Screens

test: Add feature tests for the Settings screen
  app/src/androidTest/java/timur/gilfanov/messenger/feature/settings/SettingsFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestSettingsHelper.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestSettingsRepository.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/ChatRepositoryStub.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/MessageRepositoryStub.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/SettingsSyncSchedulerStub.kt
  app/src/debug/AndroidManifest.xml
  app/src/debug/java/timur/gilfanov/messenger/SettingsScreenTestActivity.kt
Due: none

refactor: Annotate ProfileUiState and SettingsUiState with @Immutable
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsUiState.kt
Due: UI Screens

refactor: Replace SettingsScreen action lambdas with SettingsActions container
  app/src/debug/java/timur/gilfanov/messenger/SettingsScreenTestActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreenContentTest.kt
Due: UI Screens

refactor: Rename side-effects to match observation operation names
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelObservationTest.kt
Due: UI Screens

refactor: Replace ProfileViewModel implementation with stub
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModel.kt
Due: UI Screens

refactor: Extract Settings.toSettingsUi() mapper function
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsUi.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModel.kt
Due: UI Screens

refactor: Extract SettingsLoadingContent and SettingsReadyContent composables
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
Due: UI Screens

refactor: Use AndroidTestSettingsRepository fixture in LanguageChangeApplicationTest
  app/src/androidTest/java/timur/gilfanov/messenger/application/LanguageChangeApplicationTest.kt
Due: none

Revert "refactor: Replace SettingsScreen action lambdas with SettingsActions container"
  app/src/debug/java/timur/gilfanov/messenger/SettingsScreenTestActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreenContentTest.kt
Due: UI Screens

Refactor: Add @Singleton to identity repository test provider
  app/src/androidTest/java/timur/gilfanov/messenger/feature/settings/SettingsFeatureTest.kt
Due: none

Fix: Add @Singleton to IdentityRepository binding in tests
  app/src/androidTest/java/timur/gilfanov/messenger/application/LanguageChangeApplicationTest.kt
Due: none

Refactor: Extract settings load timeout to a constant
  app/src/androidTest/java/timur/gilfanov/messenger/feature/settings/SettingsFeatureTest.kt
Due: none

docs: Refine KDoc for `ObserveProfileError`
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ObserveProfileError.kt
Due: Domain Use Cases

feat: Add `@Immutable` annotation to UI models
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileUi.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsUi.kt
Due: UI Screens

docs: Clarify KDoc for SettingsUi language property
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsUi.kt
Due: UI Screens

Refactor: Integrate MainScreen into a unified navigation graph
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/settings/SettingsFeatureTest.kt
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/navigation/Destinations.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreenViewModel.kt
Due: UI Screens, Application Core

refactor: Add placeholder UI for profile section in settings
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/main/res/values/strings.xml
Due: UI Screens
