Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...90"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

# Component-based coverage organization
component_management:
  individual_components:
    # Domain Layer Components
    - component_id: domain_entities
      name: "Domain Entities"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/**"
    
    - component_id: domain_usecases
      name: "Domain Use Cases"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/**"
    
    # Feature-Based Components
    - component_id: chat_feature
      name: "Chat Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**"
    
    - component_id: message_feature
      name: "Message Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**"
    
    # UI Layer Components
    - component_id: ui_screens
      name: "UI Screens"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/**"
    
    - component_id: ui_theme
      name: "UI Theme"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/theme/**"
    
    # Architecture Layer Components  
    - component_id: data_layer
      name: "Data Layer"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/data/**"
    
    - component_id: dependency_injection
      name: "Dependency Injection"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/di/**"
    
    # Validation Components
    - component_id: validation_logic
      name: "Validation Logic"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**"
    
    # Core Application Components
    - component_id: application_core
      name: "Application Core"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/MainActivity.kt"
        - "app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt"

Improve error handling in Gradle task execution by redirecting error stream and including last 2000 characters of output in exception message
  app/build.gradle.kts
Due: none

,
  app/src/androidTest/java/timur/gilfanov/messenger/InputValidationApplicationTest.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageInput.kt
  app/src/test/java/timur/gilfanov/messenger/testutil/MainDispatcherRule.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelTest.kt
Due: Chat Feature, UI Screens

,
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
Due: Chat Feature, UI Screens

,
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: Chat Feature, UI Screens

Update target for testing categories
  Testing Strategy.md
Due: none

Update codecov.yml
  codecov.yml
Due: none

Update codecov.yml (#44)
  codecov.yml
Due: none

Update target for testing categories (#43)
  Testing Strategy.md
  codecov.yml
Due: none

Simplify condition to launch text input observation
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
Due: Chat Feature, UI Screens

Remove unnecessary logging and yielding in observeChatUpdates
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
Due: Chat Feature, UI Screens

Remove unnecessary logging statements from chat-related tests
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/testutil/MainDispatcherRule.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelTest.kt
Due: Chat Feature, UI Screens

Remove unnecessary logging statements from chat-related tests
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelTest.kt
Due: none

Remove unnecessary debounce wait in chat-related tests
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelTest.kt
Due: none

Remove unnecessary debounce waits in chat-related tests
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelTest.kt
Due: none

Remove unnecessary @Suppress annotations in ChatViewModel and MessageInput
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageInput.kt
Due: Chat Feature, UI Screens

Update test rules to use specific ChatList and ChatScreen test activities
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListPerformanceTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/InputValidationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/MessageSendingApplicationTest.kt
Due: none

Refactor tests to use waitUntilExactlyOneExists for improved accuracy
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListPerformanceTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/InputValidationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/MessageSendingApplicationTest.kt
Due: none

Remove unnecessary ensureActive call in input text collection
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
Due: Chat Feature, UI Screens

Add ChatViewModelTextInputTest to validate input text handling
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
Due: none

Drop generated by Claude Code chat list Android tests, and a few that makes sense.
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenDisplayApplicationTest.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/EmptyStateComponent.kt
Due: UI Screens

Remove unnecessary TestDispatcher references from ChatViewModel tests
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelTest.kt
Due: none

Implement swipe actions for chat list items with delete functionality
  Testing Strategy.md
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRow.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeActionDimensionsTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRowTest.kt
Due: UI Screens

Refactor SwipeToActionRow tests to validate action clickability and accessibility labels
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRowTest.kt
Due: none

Refactor SwipeToActionRow tests to validate action clickability and accessibility labels
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeActionDimensionsTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRowTest.kt
Due: none

Refactor SwipeToActionRow tests to validate action clickability and accessibility labels
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRow.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeActionDimensionsTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRowTest.kt
Due: UI Screens

.
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeActionDimensionsTest.kt
Due: none

Refactor SwipeToActionRow previews to use MessengerTheme for consistent styling
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRow.kt
Due: UI Screens

Rename PreviewContent to ContentPreview to exclude from test coverage.
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRow.kt
Due: UI Screens

Revert "Rename PreviewContent to ContentPreview to exclude from test coverage."
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRow.kt
Due: UI Screens

Exclude PreviewContent from kover test coverage.
  app/build.gradle.kts
Due: none

Refactor SwipeToActionRow tests to use string resources for content descriptions
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRow.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeActionDimensionsTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRowTest.kt
Due: UI Screens

Add KoverIgnore annotation to exclude PreviewContent from test coverage
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/annotation/KoverIgnore.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRow.kt
Due: UI Screens

Refactor ChatListScreen to use string resources for content descriptions
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreenTest.kt
Due: UI Screens

Remove unused variable from ChatListScreenTest
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreenTest.kt
Due: none

Refactor `ChatListScreenTest`
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreenTest.kt
Due: none

Preserve scroll position in ChatListScreen on state restoration
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreenTest.kt
Due: UI Screens

Preserve scroll position in ChatListScreen on state restoration
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenDisplayApplicationTest.kt
Due: none

Mark ChatListConfigurationChangeApplicationTest.chatListScreen_handlesMultipleRotations as flaky
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListConfigurationChangeApplicationTest.kt
Due: none

Mark failed UI tests:
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/MessageSendingApplicationTest.kt
Due: none
