Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

Navigation 3 (#47)
  app/build.gradle.kts
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/debug/java/timur/gilfanov/messenger/ChatListScreenTestActivity.kt
  app/src/debug/java/timur/gilfanov/messenger/ChatScreenTestActivity.kt
  app/src/debug/java/timur/gilfanov/messenger/data/repository/WithChatsParticipantRepository.kt
  app/src/debug/java/timur/gilfanov/messenger/di/TestChatId.kt
  app/src/debug/java/timur/gilfanov/messenger/di/TestChatModule.kt
  app/src/debug/java/timur/gilfanov/messenger/di/TestUserId.kt
  app/src/debug/java/timur/gilfanov/messenger/di/TestUserModule.kt
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepository.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepositoryFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/InMemoryPrivilegedRepositoryStub.kt
  app/src/main/java/timur/gilfanov/messenger/di/ChatModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/RepositoryModule.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepositoryFakeTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepositoryTest.kt
  gradle/libs.versions.toml
Due: Chat Feature, UI Screens, Data Layer, Dependency Injection, Application Core

Update CLAUDE.md to adjust test annotations and execution commands
  CLAUDE.md
Due: none

Add `MessageReplyApplicationTest` to validate user message replies and unread badge behavior
  app/src/androidTest/java/timur/gilfanov/messenger/application/MessageReplyApplicationTest.kt
Due: none

Refactor tests and repository logic for message handling and back navigation
  app/src/androidTest/java/timur/gilfanov/messenger/application/MessageReplyApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepositoryFake.kt
Due: Data Layer

Update README.md
  README.md
Due: none

Update README.md (#49)
  README.md
Due: none

Fix link in README.md (#50)
  README.md
Due: none

Test message deletion from remote data source.
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/ChatDelta.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/ParticipantRepositoryImplTest.kt
Due: Data Layer

Use sealed class inheritance for delta operations.
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/ChatDelta.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/DeltaOperation.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
Due: Data Layer

Remove unnecessary getChatDelta method from RemoteDataSource.
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
Due: Data Layer

Test chat deletion from remote data source.
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/ParticipantRepositoryImplTest.kt
Due: Data Layer

Implement isChatListUpdating().
  app/src/main/java/timur/gilfanov/messenger/data/repository/ParticipantRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/ParticipantRepositoryImplTest.kt
Due: UI Screens, Data Layer

.
  app/src/main/java/timur/gilfanov/messenger/data/repository/ParticipantRepositoryImpl.kt
Due: Data Layer

Remove unused isConnected from RemoteDataSource.
  app/src/main/java/timur/gilfanov/messenger/data/repository/ParticipantRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFakeTest.kt
Due: Data Layer

Test failure branches of ParticipantRepositoryImpl.
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/ParticipantRepositoryImplTest.kt
Due: Data Layer

Remove getChat from LocalDataSource interface.
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
Due: Data Layer

.
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSource.kt
Due: Data Layer

Remove unused getMessagesForChat() from LocalDataSource.
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFakeTest.kt
Due: Data Layer

Migrate repository architecture from role-based to functional separation.
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/debug/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepositoryFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/di/ChatModule.kt
  app/src/main/java/timur/gilfanov/messenger/di/RepositoryModule.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/ChatRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/MessageRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/FlowChatListUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/JoinChatUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/LeaveChatUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/ReceiveChatUpdatesUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/DeleteMessageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/EditMessageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/SendMessageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/privileged/CreateChatUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/privileged/DeleteChatUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/FlowChatListUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/JoinChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/LeaveChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/ReceiveChatUpdatesUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/message/CreateMessageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/message/DeleteMessageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/message/EditMessageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/privileged/CreateChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/privileged/DeleteChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/repository/RepositoryFake.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
Due: Domain Use Cases, Chat Feature, Message Feature, UI Screens, Data Layer, Dependency Injection

Complete repository migration cleanup
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/debug/java/timur/gilfanov/messenger/data/repository/EmptyParticipantRepository.kt
  app/src/debug/java/timur/gilfanov/messenger/data/repository/WithChatsParticipantRepository.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/ParticipantRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/PrivilegedRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/di/RepositoryModule.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/ParticipantRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/privileged/PrivilegedRepository.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/PrivilegedRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/ParticipantRepositoryNotImplemented.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/privileged/PrivilegedRepositoryNotImplemented.kt
Due: Domain Use Cases, Data Layer, Dependency Injection

Move error mapping functions out of class in MessengerRepositoryImpl.
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
Due: Data Layer

Refactor data source interfaces with functional separation
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalChatDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalMessageDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSyncDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteChatDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteMessageDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSyncDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/di/DataSourceModule.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
Due: Data Layer, Dependency Injection

Fix flaky repository tests on GitHub Actions
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
Due: none

Restore ChatFeatureTest with architecture fix
  app/build.gradle.kts
  app/src/test/java/timur/gilfanov/messenger/domain/ArchitectureTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTest.kt
Due: none

Remove unused ChatListDelta.empty factory method.
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/ChatListDelta.kt
Due: Data Layer

Remove backward compatibility from ChatDelta
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/ChatDelta.kt
Due: Data Layer

Complete data source interface separation
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/di/DataSourceModule.kt
Due: Data Layer, Dependency Injection

.
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
Due: Data Layer

.
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
Due: Chat Feature, UI Screens

Remove prints from tests and fakes.
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
Due: Data Layer

Refactor repository constructor using Facade pattern
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSources.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSources.kt
  app/src/main/java/timur/gilfanov/messenger/di/DataSourcesFacadeModule.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
Due: Data Layer, Dependency Injection

.
  .gitignore
Due: none

Add Room database infrastructure for local data persistence
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/MessengerDatabase.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/converter/Converters.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/ChatDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/MessageDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/ParticipantDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/SyncMetadataDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/ChatEntity.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/ChatParticipantCrossRef.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/ChatWithParticipantsAndMessages.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/MessageEntity.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/ParticipantEntity.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/SyncMetadataEntity.kt
  gradle/libs.versions.toml
Due: Data Layer

Implement Room entity mappers with comprehensive unit tests
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/MessengerDatabase.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/converter/Converters.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/ChatDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/MessageDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/ParticipantDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/SyncMetadataDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/ChatEntity.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/ChatParticipantCrossRef.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/ChatWithParticipantsAndMessages.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/MessageEntity.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/ParticipantEntity.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/SyncMetadataEntity.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/mapper/EntityMappers.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/mapper/SerializationDtos.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/mapper/EntityMappersTest.kt
  gradle/libs.versions.toml
Due: Data Layer

Update CLAUDE.md to include instructions for running `detekt` with `--auto-correct`.
  CLAUDE.md
Due: none

Path conditions:
  Domain Entities: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/**
  Domain Use Cases: any of: app/src/main/java/timur/gilfanov/messenger/domain/usecase/**
  Chat Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**, app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**
  Message Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**
  UI Screens: any of: app/src/main/java/timur/gilfanov/messenger/ui/screen/**
  UI Theme: any of: app/src/main/java/timur/gilfanov/messenger/ui/theme/**
  Data Layer: any of: app/src/main/java/timur/gilfanov/messenger/data/**
  Dependency Injection: any of: app/src/main/java/timur/gilfanov/messenger/di/**
  Validation Logic: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**, app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**
  Application Core: any of: app/src/main/java/timur/gilfanov/messenger/MainActivity.kt, app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
