Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...90"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

# Component-based coverage organization
component_management:
  individual_components:
    # Domain Layer Components
    - component_id: domain_entities
      name: "Domain Entities"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/**"
    
    - component_id: domain_usecases
      name: "Domain Use Cases"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/**"
    
    # Feature-Based Components
    - component_id: chat_feature
      name: "Chat Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**"
    
    - component_id: message_feature
      name: "Message Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**"
    
    # UI Layer Components
    - component_id: ui_screens
      name: "UI Screens"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/**"
    
    - component_id: ui_theme
      name: "UI Theme"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/theme/**"
    
    # Architecture Layer Components  
    - component_id: data_layer
      name: "Data Layer"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/data/**"
    
    - component_id: dependency_injection
      name: "Dependency Injection"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/di/**"
    
    # Validation Components
    - component_id: validation_logic
      name: "Validation Logic"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**"
    
    # Core Application Components
    - component_id: application_core
      name: "Application Core"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/MainActivity.kt"
        - "app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt"

Update message input test to use unmerged tree for accurate assertions
  .github/workflows/main.yml
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/annotation/ExcludeFromCoverageGenerated.kt
Due: none

Update message input test to use unmerged tree for accurate assertions
  .github/workflows/main.yml
Due: none

Use JaCoCo Gradle task instead of CLI to exclude composable previews from application code coverage.
  .github/workflows/main.yml
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/annotation/ExcludeFromCoverageGenerated.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageBubble.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/MessageInput.kt
Due: Chat Feature, UI Screens

Fix path to test coverage result file
  .github/workflows/main.yml
Due: none

Add debug output for phone coverage files in CI pipeline
  .github/workflows/main.yml
Due: none

Improve JaCoCo execution file handling with debug output for better visibility
  app/build.gradle.kts
Due: none

Enhance JaCoCo execution file handling with debug output and improved Gradle command
  .github/workflows/main.yml
  app/build.gradle.kts
Due: none

Fix path resolution for JaCoCo execution files in build script
  app/build.gradle.kts
Due: none

Refactor JaCoCo execution file handling and cleanup temporary reports in CI pipeline
  .github/workflows/main.yml
  app/build.gradle.kts
Due: none

Refactor JaCoCo class exclusion patterns for improved readability
  app/build.gradle.kts
Due: none

Rename JaCoCo report task and update parameter handling for external coverage files
  .github/workflows/main.yml
  app/build.gradle.kts
Due: none

Fix application tests coverage report (#41)
  .github/workflows/main.yml
  app/build.gradle.kts
  app/src/androidTest/java/timur/gilfanov/messenger/ConfigurationChangeApplicationTest.kt
Due: none

Implement chat list UI with state management and empty state handling
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/di/ChatModule.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/EmptyStateComponent.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRow.kt
  app/src/main/res/values/strings.xml
Due: UI Screens, Dependency Injection, Application Core

Refactor chat list UI to remove pull-to-refresh functionality and implement chat list updating state
  app/src/main/java/timur/gilfanov/messenger/data/repository/InMemoryParticipantRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/ParticipantRepository.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/ParticipantRepositoryNotImplemented.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/repository/RepositoryFake.kt
Due: Domain Use Cases, UI Screens, Data Layer

Refactor chat list item UI for improved layout and readability
  app/src/main/java/timur/gilfanov/messenger/di/ChatModule.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/SwipeToActionRow.kt
Due: UI Screens, Dependency Injection

Add localized strings for chat list screen and error handling
  app/src/main/res/values-de/strings.xml
Due: none

Refactor chat list item to use Instant for last message time formatting
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiState.kt
Due: UI Screens

Update chat list item to conditionally display last message time based on unread count
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
Due: UI Screens

Enhance chat list item time formatting to display relative time (Today, Yesterday, This Week) and add localized strings for time representation
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
Due: UI Screens

Refactor ChatListScreen to use action data classes for improved event handling
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
Due: UI Screens, Application Core

Update Testing Strategy documentation for clarity and consistency in test category descriptions
  Testing Strategy.md
Due: none

Refactor ChatListUiState to simplify message type handling and improve error reporting
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiState.kt
Due: UI Screens

Change category for all Feature tests to Component tests because of better understanding of this categories. There are no Feature tests in the application right now.
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/SendMessageUseCasesFlowTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: none

Add tests for chats list feature
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListPerformanceTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenTestActivity.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenTestActivity.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ConfigurationChangeApplicationTest.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiState.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItemTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreenTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListTimeFormattingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiStateTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelTest.kt
Due: UI Screens

Add test activities for ChatList and Chat screens to improve UI testing
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListConfigurationChangeApplicationTest.kt
  app/src/debug/AndroidManifest.xml
  app/src/debug/java/timur/gilfanov/messenger/ChatListScreenTestActivity.kt
  app/src/debug/java/timur/gilfanov/messenger/ChatScreenTestActivity.kt
Due: none

Revert "Add tests for chats list feature"
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListPerformanceTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenTestActivity.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenTestActivity.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ConfigurationChangeApplicationTest.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiState.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItemTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreenTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListTimeFormattingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiStateTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelTest.kt
Due: UI Screens

Rename ConfigurationChangeApplicationTest to ChatScreenConfigurationChangeApplicationTest
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenConfigurationChangeApplicationTest.kt
Due: none

Re-add ChatList tests and supporting files
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListConfigurationChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListPerformanceTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenDisplayApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatListScreenTestActivity.kt
  app/src/androidTest/java/timur/gilfanov/messenger/ChatScreenTestActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiState.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItemTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreenTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListTimeFormattingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiStateTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelTest.kt
Due: UI Screens

Remove redundant test for ViewModel loading state in ChatListViewModelTest
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelTest.kt
Due: none

Refactor ChatList error handling to use FlowChatListError and update UI state management
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreenTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelTest.kt
Due: UI Screens

Localize content descriptions for chat list
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListItem.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
Due: UI Screens

Simplify ChatListViewModelTest by removing unnecessary type casting for uiState
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelTest.kt
Due: none

Refactor ChatListViewModelTest to manage coroutine jobs and ensure proper cancellation
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelTest.kt
Due: none

Simplify participant initialization in ChatListUiStateTest
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiStateTest.kt
Due: none

Add TODO to replace placeholder user name in ChatListViewModel
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
Due: UI Screens

Add teardown method to tests for coroutine cleanup to fix error when run: gradle testDebugUnitTest -PtestCategory=timur.gilfanov.annotations.Unit -PtestCategory=timur.gilfanov.annotations.Component
  app/src/test/java/timur/gilfanov/messenger/testutil/MainDispatcherRule.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: none

Remove redundant teardown method from chat ViewModel tests
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: none

Refactor MainDispatcherRule to simplify dispatcher setup and prevent unnecessary cleanup
  app/src/test/java/timur/gilfanov/messenger/testutil/MainDispatcherRule.kt
Due: none

Fix testing issue by activating cancellation point before switching to Main dispatcher. Return local Main dispatcher for tests.
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/testutil/MainDispatcherRule.kt
Due: Chat Feature, UI Screens
