Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

Refactor UserSettingsDataStoreManagerImpl to use computeIfAbsent
  app/src/main/java/timur/gilfanov/messenger/data/source/local/datastore/UserSettingsDataStoreManagerImpl.kt
Due: Data Layer

Refactor: remove redundant DeserializationError handler in LocalSettingsDataSourceImpl
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
Due: Data Layer

Fix KDoc link to be fully qualified
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

Add test for settings recovery failure
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Add unit test for settings reset on update failure
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Add unit tests to verify specific error handling scenarios in `SettingsRepositoryImpl`.
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Refactor default exception message in `ErrorReason`
  app/src/main/java/timur/gilfanov/messenger/data/source/ErrorReason.kt
Due: Data Layer

Refactor: replace Throwable with ErrorReason in UpdateSettingsLocalDataSourceError to fix equality
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/UpdateSettingsLocalDataSourceError.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: Data Layer

Refactor: Rename `Settings.language` to `Settings.uiLanguage`
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/Settings.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsRepository.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCaseTest.kt
Due: Domain Entities, Domain Use Cases, Data Layer

Refactor SettingsSource enum to SettingsState and document metadata
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/Settings.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/SettingsMetadata.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/SettingsSource.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/SettingsState.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: Domain Entities, Data Layer

Refactor `IdentityError` to `Unauthorized` in `ChangeUiLanguageError`
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCase.kt
Due: Domain Use Cases

chore: fix max length violation in SettingsMetadata
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/SettingsMetadata.kt
Due: Domain Entities

Specify ApplyRemoteSettingsRepositoryError
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/InsertSettingsLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceErrorV2.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/ResetSettingsLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/UpdateSettingsLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ApplyRemoteSettingsRepositoryError.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
Due: Domain Use Cases, Data Layer

Refine SyncLocalToRemoteRepositoryError taxonomy and mapping
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteUserDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SyncLocalToRemoteRepositoryError.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: Domain Use Cases, Data Layer

chore: replace in comments SettingsState.LOCAL_MODIFIED to MODIFIED
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

Add missed docs for new functions in SettingsRepository
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsRepository.kt
Due: Domain Use Cases

Refactor: Add detailed error handling tests for SettingsRepository
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Refactor: Add unauthorized check to ChangeUiLanguageUseCase
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCaseTest.kt
Due: none

Refactor `observeSettings` to use `map` instead of `flatMapLatest`
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

Refactor RemoteSettingsDataSourceFake to handle timestamps
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: none

Refactor: Rename SettingsDataSource methods for clarity and consistency
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/GetSettingsLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/UpdateSettingsLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
Due: Data Layer

chore: Clarify UI language change log message
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

Refactor LocalSettingsDataSourceImpl to use extension functions
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
Due: Data Layer

Fix: Ensure `isDefault` is false after local settings update
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
Due: Data Layer

Fix settings metadata update on put
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
Due: Data Layer

Refactor: Minor code style and KDoc improvements in MessengerRepositoryImpl
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
Due: Data Layer

Refactor GetSettingsRepositoryError to use direct import
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/GetSettingsRepositoryError.kt
Due: Domain Use Cases

Refine comment for IN_SYNC_WITH_REMOTE state
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/SettingsState.kt
Due: Domain Entities

Refactor: Improve documentation for `bimap` extension function
  app/src/main/java/timur/gilfanov/messenger/domain/entity/ResultWithError.kt
Due: Domain Entities

Fix: Correct error type in LocalSettingsDataSource KDoc
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
Due: Data Layer

Fix time progression in RemoteSettingsDataSourceFake
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
Due: none

Chore: Refactor SettingsConflict data class for conciseness
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/GetSettingsRepositoryError.kt
Due: Domain Use Cases, Data Layer

Add ObserveUiLanguage use case with errors and tests
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ObserveUiLanguageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ObserveUiLanguageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ObserveLanguageRepositoryError.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveUiLanguageUseCaseTest.kt
Due: Domain Use Cases

Refactor: Clarify ResultWithError.bimap KDoc
  app/src/main/java/timur/gilfanov/messenger/domain/entity/ResultWithError.kt
Due: Domain Entities

Add unit test for unauthorized to authorized transition in ObserveUiLanguageUseCase
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveUiLanguageUseCaseTest.kt
Due: none

chore: Fix trailing comma in ObserveUiLanguageUseCaseTest
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveUiLanguageUseCaseTest.kt
Due: none

chore: Refactor KDoc for ResultWithError extensions
  app/src/main/java/timur/gilfanov/messenger/domain/entity/ResultWithError.kt
Due: Domain Entities

Refactor user repository errors for reuse
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteUserDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/CommonUserRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsChangeBackupError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SyncLocalToRemoteRepositoryError.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: Domain Use Cases, Data Layer

Align repository errors.
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteUserDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/GetProfileError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/CommonUserRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ProfileRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RemovePictureRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsChangeBackupError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SyncLocalToRemoteRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdateNameRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UpdatePictureRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/UserRepositoryError.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: Domain Use Cases, Data Layer

Add KDocs for ErrorReason value class
  app/src/main/java/timur/gilfanov/messenger/data/source/ErrorReason.kt
Due: Data Layer

Path conditions:
  Domain Entities: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/**
  Domain Use Cases: any of: app/src/main/java/timur/gilfanov/messenger/domain/usecase/**
  Chat Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**, app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**
  Message Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**
  UI Screens: any of: app/src/main/java/timur/gilfanov/messenger/ui/screen/**
  UI Theme: any of: app/src/main/java/timur/gilfanov/messenger/ui/theme/**
  Data Layer: any of: app/src/main/java/timur/gilfanov/messenger/data/**
  Dependency Injection: any of: app/src/main/java/timur/gilfanov/messenger/di/**
  Validation Logic: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**, app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**
  Application Core: any of: app/src/main/java/timur/gilfanov/messenger/MainActivity.kt, app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
