Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

Add: LocalSettingsDataSource exception handling tests
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplExceptionTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDaoWithErrorInjection.kt
Due: none

Docs: Update KDocs and add comments across settings modules
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettings.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/UiLanguageMapper.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettings.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncAllSettingsWorker.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/SettingKey.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/SettingsConflictEvent.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: Domain Entities, Data Layer

Docs: Explain buffer capacity for `conflictEvents`
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

Refactor: Use batch upsert in LocalSettingsDataSourceImpl transform()
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
Due: Data Layer

Add: Retry logic for getAll in LocalSettingsDataSourceImpl
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
Due: Data Layer

Add: Centralize settings defaults with dependency injection
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSetting.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettings.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/di/DataSourceModule.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplExceptionTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplObserveTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsTest.kt
Due: Data Layer, Dependency Injection

Refactor: Introduce detailed error types for sync operations
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SyncAllSettingsRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SyncSettingRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettings.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncAllSettingsWorker.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncSettingWorker.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
Due: Data Layer

feat: Add use cases for settings synchronization
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncAllSettingsWorker.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncSettingWorker.kt
  app/src/main/java/timur/gilfanov/messenger/di/SettingsSyncUseCaseModule.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SettingsSyncOutcome.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncAllPendingSettingsUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncSettingUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SyncAllSettingsRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SyncSettingRepositoryError.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/SettingsRepositoryStub.kt
Due: Domain Use Cases, Data Layer, Dependency Injection

Add fake implementation for RemoteSettingsDataSource for Hilt
  app/src/debug/java/timur/gilfanov/messenger/di/DebugDataSourceModule.kt
Due: none

chore: Add "fake" qualifier to RemoteSettingsDataSource binding
  app/src/debug/java/timur/gilfanov/messenger/di/DebugDataSourceModule.kt
Due: none

chore: Replace SharedFlow buffer with replay cache for conflict events
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

chore: Update KDoc for LocalSettingsDataSource `observe`
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
Due: Data Layer

Fix: Add robust input validation to SyncSettingsWorker
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncSettingWorker.kt
Due: Data Layer

Fix: Gate destructive migrations behind DEBUG builds
  app/src/main/java/timur/gilfanov/messenger/di/DatabaseModule.kt
Due: Dependency Injection

Improve: Optimize settings sync retry strategy
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncSettingWorker.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncAllPendingSettingsUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncSettingUseCase.kt
Due: Domain Use Cases, Data Layer

Fix: Handle failures when updating local sync status to FAILED
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

Add Identity parameter to settings data layer for per-user sync
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDao.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/di/SettingsSyncUseCaseModule.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/IdentityRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncAllPendingSettingsUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncSettingUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsRepository.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplExceptionTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDaoTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/dao/SettingsDaoWithErrorInjection.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/IdentityRepositoryStub.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/SettingsRepositoryStub.kt
Due: Domain Use Cases, Data Layer, Dependency Injection

Hide SettingEntity from data layer contracts with typed wrappers
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/TypedSettingMapping.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/TypedLocalSetting.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/TypedSettingSyncRequest.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/Setting.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/user/UiLanguage.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplExceptionTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
Due: Domain Entities, Data Layer

Refactor: Remove redundant `defaultValue` from `LocalSetting`
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSetting.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettings.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplExceptionTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsTest.kt
Due: Data Layer

Refactor: Use SettingKey enum for safer key matching in local data source
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
Due: Data Layer

Refactor: Decompose `SettingsRepositoryImpl` and add detailed logging
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/di/SettingsSyncUseCaseModule.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/ObserveUiLanguageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncAllPendingSettingsUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncSettingUseCase.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ChangeUiLanguageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/user/ObserveUiLanguageUseCaseTest.kt
Due: Domain Use Cases, Data Layer, Dependency Injection

Refactor: Simplify error handling in LocalSettingsDataSourceImpl
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
Due: Data Layer

chore: Remove redundant `when` expression wrapping
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
Due: Data Layer

Refactor: Use `foldWithErrorMapping` in `syncSetting`
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

Refactor: Simplify localDataSource result handling with `fold`
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

.
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
Due: Data Layer

Refactor: Simplify TypedLocalSetting updates with a generic copy function
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

chore: Refine comments for settings sync use cases
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncAllPendingSettingsUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncSettingUseCase.kt
Due: Domain Use Cases

Docs: Update KDoc for settings sync functions
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SettingsRepository.kt
Due: Domain Use Cases

Refactor: Preserve cause in Unknown repository errors
  CLAUDE.md
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/GetSettingsLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncAllPendingSettingsUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/ChangeLanguageRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/GetSettingsRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RecoverSettingsRepositoryError.kt
Due: Domain Use Cases, Data Layer

chore: Add comment to explain UNCHECKED_CAST suppression
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

Refactor: Simplify logging in `SettingsRepositoryImpl`
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

Docs: Clarify RecoverSettingsRepositoryError KDoc
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RecoverSettingsRepositoryError.kt
Due: Domain Use Cases

Refactor: Remove unused RecoverSettingsRepositoryError
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/RecoverSettingsRepositoryError.kt
Due: Domain Use Cases

Refactor: Centralize SettingSyncRequest creation logic
  app/src/main/java/timur/gilfanov/messenger/data/repository/TypedSettingMapping.kt
Due: Data Layer

chore: Refine comments to be more generic
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/TypedLocalSetting.kt
Due: Data Layer

Refactor: Use `kotlin.time.Instant` for timestamps
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSetting.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettings.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/TypedSettingSyncRequest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplExceptionTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplObserveTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsTest.kt
Due: Data Layer

Feat: Add `StorageFull` error handling for local data source
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/SettingsDataSourceError.kt
Due: Data Layer

Refactor: Inline `Clock.System.now()` call
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
Due: Data Layer

Refactor: Move worker decision logic from use cases to workers
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncAllSettingsWorker.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncSettingWorker.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SettingsSyncOutcome.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncAllPendingSettingsError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncAllPendingSettingsUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncSettingError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/SyncSettingUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SyncAllSettingsRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/user/repository/SyncSettingRepositoryError.kt
Due: Domain Use Cases, Data Layer

Path conditions:
  Domain Entities: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/**
  Domain Use Cases: any of: app/src/main/java/timur/gilfanov/messenger/domain/usecase/**
  Chat Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**, app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**
  Message Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**
  UI Screens: any of: app/src/main/java/timur/gilfanov/messenger/ui/screen/**
  UI Theme: any of: app/src/main/java/timur/gilfanov/messenger/ui/theme/**
  Data Layer: any of: app/src/main/java/timur/gilfanov/messenger/data/**
  Dependency Injection: any of: app/src/main/java/timur/gilfanov/messenger/di/**
  Validation Logic: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**, app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**
  Application Core: any of: app/src/main/java/timur/gilfanov/messenger/MainActivity.kt, app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
