Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...90"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

component_management:
  individual_components:
    - component_id: domain_entities
      name: "Domain Entities"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/**"
    
    - component_id: domain_usecases
      name: "Domain Use Cases"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/**"
    
    - component_id: chat_feature
      name: "Chat Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**"
    
    - component_id: message_feature
      name: "Message Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**"
    
    - component_id: ui_screens
      name: "UI Screens"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/**"
    
    - component_id: ui_theme
      name: "UI Theme"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/theme/**"
    
    - component_id: data_layer
      name: "Data Layer"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/data/**"
    
    - component_id: dependency_injection
      name: "Dependency Injection"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/di/**"
    
    - component_id: validation_logic
      name: "Validation Logic"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**"
    
    - component_id: application_core
      name: "Application Core"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/MainActivity.kt"
        - "app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt"

flag_management:
  individual_flags:
    
    - name: unit
      carryforward: true
      statuses:
        - type: project
          target: 80%
          threshold: 1%
    
    - name: component
      carryforward: true
      statuses:
        - type: project
          target: 70%
          threshold: 1%
    
    - name: feature
      carryforward: true
      statuses:
        - type: project
          target: 50%
          threshold: 1%
    
    - name: application
      carryforward: true
      statuses:
        - type: project
          target: 40%
          threshold: 1%
    
    - name: release_candidate
      carryforward: true
      statuses:
        - type: project
          target: 30%
          threshold: 30%
    
    - name: local
      carryforward: true
    
    - name: robolectric
      carryforward: true
    
    - name: emulator
      carryforward: true
    
    - name: device
      carryforward: true
    
    - name: phone
      carryforward: true
    
    - name: tablet
      carryforward: true
    
    - name: foldable
      carryforward: true

fix: Implement PR #122 review feedback
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/TypedSettingSyncRequest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/dto/InstantIsoSerializerTest.kt
Due: Data Layer

Refactor: Introduce structured error for MarkMessagesAsReadUseCase
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/MarkMessagesAsReadError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/MarkMessagesAsReadUseCase.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
Due: Domain Use Cases, Data Layer

Refactor: Rename `RepositoryMarkMessagesAsReadError` to `MarkMessagesAsReadError`
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/ChatRepositoryStub.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/ChatRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/MarkMessagesAsReadUseCase.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/FlowChatListUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/JoinChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/LeaveChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/ReceiveChatUpdatesUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/privileged/CreateChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/privileged/DeleteChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/repository/RepositoryFake.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/TestRepositoryWithRealImplementation.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
Due: Domain Use Cases, Data Layer

feat: Implement real RemoteSettingsDataSource (#122)
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestSettingsHelper.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestSettingsRepository.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFake.kt
  app/src/debug/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceStub.kt
  app/src/debug/java/timur/gilfanov/messenger/di/DebugDataSourceModule.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/TypedSettingMapping.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceNoop.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/TypedSettingSyncRequest.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/InstantIsoSerializer.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/SettingsDto.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/network/ApiRoutes.kt
  app/src/main/java/timur/gilfanov/messenger/di/DataSourceModule.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/MockServerScenarios.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceFakeTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/remote/dto/InstantIsoSerializerTest.kt
Due: Data Layer, Dependency Injection

refactor: Remove deprecated ErrorReason and RepositoryError files
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceErrorV2.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/UpdateSettingsLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceErrorV2.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceNoop.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/profile/repository/ProfileRepository.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/profile/repository/RepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/settings/repository/ErrorReason.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/ErrorReasonTest.kt
Due: Domain Use Cases, Data Layer

refactor: Remove RemoteOperationFailed from FlowChatListError
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/FlowChatListError.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/FlowChatListUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
Due: Domain Use Cases, UI Screens

Refactor: Replace TODOs with `error` calls in API error handling
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImpl.kt
Due: Data Layer

Refactor: Replace TODOs with error() calls for unimplemented error handling
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
Due: Data Layer

Refactor: Align test repository error types with domain
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
Due: none

docs: Add KDoc to repository error models
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/repository/CreateChatRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/repository/DeleteChatRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/repository/FlowChatListRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/repository/JoinChatRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/repository/LeaveChatRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/repository/MarkMessagesAsReadRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/repository/ReceiveChatUpdatesRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/repository/DeleteMessageRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/repository/EditMessageRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/repository/SendMessageRepositoryError.kt
Due: Domain Use Cases

Refactor: Remove CooldownActive error from JoinChatRepository
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/repository/JoinChatRepositoryError.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/JoinChatUseCaseTest.kt
Due: Domain Use Cases

Refactor: Remove CooldownActive from JoinChatRepositoryError
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/repository/JoinChatRepositoryError.kt
Due: Domain Use Cases

Refactor: Remove unused ApplyRemoteSettingsRepositoryError
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/settings/repository/ApplyRemoteSettingsRepositoryError.kt
Due: Domain Use Cases

Refactor: Migrate settings errors to LocalOperationFailed pattern
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/settings/repository/ChangeLanguageRepositoryError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/settings/repository/GetSettingsRepositoryError.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/settings/ChangeUiLanguageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/settings/ObserveSettingsUseCaseImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreenSideEffectsTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelChangeLanguageTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelObservationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelObservationTest.kt
Due: Domain Use Cases, Data Layer

Refactor: Flatten settings use case errors to match chat/message pattern
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncAllSettingsWorker.kt
  app/src/main/java/timur/gilfanov/messenger/data/worker/SyncSettingWorker.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/settings/ChangeUiLanguageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/settings/ChangeUiLanguageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/settings/ObserveSettingsError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/settings/ObserveSettingsUseCaseImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/settings/SyncAllPendingSettingsError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/settings/SyncAllPendingSettingsUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/settings/SyncSettingError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/settings/SyncSettingUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/settings/ChangeUiLanguageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/settings/ObserveSettingsUseCaseImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/settings/SyncAllPendingSettingsUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/settings/SyncSettingUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageViewModelChangeLanguageTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsViewModelObservationTest.kt
Due: Domain Use Cases, UI Screens, Data Layer

Refactor: Simplify `ObserveProfileError` sealed interface
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/profile/ObserveProfileError.kt
Due: Domain Use Cases

feat: Refine local storage error mapping
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
Due: Data Layer

Refactor: Remove redundant KDoc comment in `DeleteChatError`
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/DeleteChatError.kt
Due: Domain Use Cases

style: Remove todo comment from LocalProfileDataSource
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalProfileDataSource.kt
Due: Data Layer

chore: Remove TODO comments from data source error files
  app/src/main/java/timur/gilfanov/messenger/data/source/local/GetSettingsLocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteDataSourceError.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceError.kt
Due: Data Layer

Refactor: Move repository error to use case error mapping to extension functions
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/CreateChatError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/CreateChatUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/DeleteChatError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/DeleteChatUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/DeleteMessageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/EditMessageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/SendMessageError.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/SendMessageUseCase.kt
Due: Domain Use Cases

Refactor: Remove unused toUseCaseError methods from message use cases
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/DeleteMessageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/EditMessageUseCase.kt
Due: Domain Use Cases

fix: Add suspend modifier to executeRequest block parameter
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImpl.kt
Due: Data Layer

Refactor: Remove unused toUseCaseError methods from message use cases (#140)
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/DeleteMessageUseCase.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/message/EditMessageUseCase.kt
Due: Domain Use Cases

fix: Add suspend modifier to executeRequest block parameter (#141)
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/RemoteSettingsDataSourceImpl.kt
Due: Data Layer

Docs: Add issue prioritization guide and clean up CLAUDE.md
  CLAUDE.md
  docs/Issue-Prioritization.md
Due: none

Docs: Add issue prioritization guide and clean up CLAUDE.md (#152)
  CLAUDE.md
  docs/Issue-Prioritization.md
Due: none

Refactor: Move ChatViewModel text input state to UI layer (#145)
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatSideEffect.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: Chat Feature, UI Screens

Refactor: Fetch current user profile within ChatListViewModel
  app/src/debug/java/timur/gilfanov/messenger/ChatListScreenTestActivity.kt
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreen.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
Due: UI Screens, Application Core

fix: Relaunch input text effect when chat becomes ready
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
Due: Chat Feature, UI Screens

fix: Address PR review comments for ChatListViewModel and MainScreen
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreen.kt
Due: UI Screens

Add explanation comment for text input validation LaunchedEffect second key.
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
Due: Chat Feature, UI Screens

Ensure that it will be safe to add a new implementation of Message, other than TextMessage.
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
Due: Chat Feature, UI Screens

fix: Restore removed comments in test files
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: none

Refactor: Fetch current user profile within ChatListViewModel (#154)
  app/src/debug/java/timur/gilfanov/messenger/ChatListScreenTestActivity.kt
  app/src/main/java/timur/gilfanov/messenger/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreen.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
Due: UI Screens, Application Core

Refactor: Move ChatViewModel text input state to UI layer (#153)
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatSideEffect.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreenTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: Chat Feature, UI Screens

feat: Restore ChatViewModel state after process death
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatPaginationIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelProcessDeathTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: Chat Feature, UI Screens
