Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...90"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

component_management:
  individual_components:
    - component_id: domain_entities
      name: "Domain Entities"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/**"
    
    - component_id: domain_usecases
      name: "Domain Use Cases"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/**"
    
    - component_id: chat_feature
      name: "Chat Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**"
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**"
    
    - component_id: message_feature
      name: "Message Feature"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**"
    
    - component_id: ui_screens
      name: "UI Screens"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/screen/**"
    
    - component_id: ui_theme
      name: "UI Theme"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/ui/theme/**"
    
    - component_id: data_layer
      name: "Data Layer"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/data/**"
    
    - component_id: dependency_injection
      name: "Dependency Injection"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/di/**"
    
    - component_id: validation_logic
      name: "Validation Logic"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**"
        - "app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**"
    
    - component_id: application_core
      name: "Application Core"
      paths:
        - "app/src/main/java/timur/gilfanov/messenger/MainActivity.kt"
        - "app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt"

flag_management:
  individual_flags:
    
    - name: unit
      carryforward: true
      statuses:
        - type: project
          target: 80%
          threshold: 1%
    
    - name: component
      carryforward: true
      statuses:
        - type: project
          target: 70%
          threshold: 1%
    
    - name: feature
      carryforward: true
      statuses:
        - type: project
          target: 50%
          threshold: 1%
    
    - name: application
      carryforward: true
      statuses:
        - type: project
          target: 40%
          threshold: 1%
    
    - name: release_candidate
      carryforward: true
      statuses:
        - type: project
          target: 30%
          threshold: 30%
    
    - name: local
      carryforward: true
    
    - name: robolectric
      carryforward: true
    
    - name: emulator
      carryforward: true
    
    - name: device
      carryforward: true
    
    - name: phone
      carryforward: true
    
    - name: tablet
      carryforward: true
    
    - name: foldable
      carryforward: true

test: Use fixed UUIDs in ChatViewModelProcessDeathTest
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelProcessDeathTest.kt
Due: none

feat: Restore ChatViewModel state after process death (#165)
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatPaginationIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelProcessDeathTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
Due: Chat Feature, UI Screens

docs: Add KDoc to ParticipantId and UserId
  app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/Participant.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/profile/UserId.kt
Due: Domain Entities, Chat Feature

docs: Add KDoc to ParticipantId and UserId (#166)
  app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/Participant.kt
  app/src/main/java/timur/gilfanov/messenger/domain/entity/profile/UserId.kt
Due: Domain Entities, Chat Feature

Add architecture rules for UI state management
  docs/architecture/AR-01-single-authority-for-ordering-rules.md
  docs/architecture/AR-02-deterministic-ui-state-commits.md
Due: none

Add Detekt rule to ban public MutableStateFlow in MVI Store classes.
  app/build.gradle.kts
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/timur/gilfanov/messenger/detekt/StoreRuleSetProvider.kt
  build-logic/src/main/kotlin/timur/gilfanov/messenger/detekt/rules/NoMutableStateFlowExposureRule.kt
  build-logic/src/main/resources/META-INF/services/io.gitlab.arturbosch.detekt.api.RuleSetProvider
  build-logic/src/test/kotlin/timur/gilfanov/messenger/detekt/rules/NoMutableStateFlowExposureRuleTest.kt
  config/detekt/detekt.yml
  settings.gradle.kts
Due: none

Add Detekt rule to limit reduce invokes to scan function in MVI Store classes.
  build-logic/src/main/kotlin/timur/gilfanov/messenger/detekt/StoreRuleSetProvider.kt
  build-logic/src/main/kotlin/timur/gilfanov/messenger/detekt/rules/ReduceOnlyInActorRule.kt
  build-logic/src/test/kotlin/timur/gilfanov/messenger/detekt/rules/ReduceOnlyInActorRuleTest.kt
  config/detekt/detekt.yml
Due: none

Reduce AR-02 to mechanical rule of serialization
  docs/architecture/AR-01-single-authority-for-ordering-rules.md
  docs/architecture/AR-02-deterministic-ui-state-commits.md
  docs/architecture/AR-02-serialized-ui-state-commits.md
Due: none

Add "MVI Store Pattern" section to CLAUDE.md
  CLAUDE.md
Due: none

Remove AR-02 because atomic state updates is enough
  CLAUDE.md
  docs/architecture/AR-01-single-authority-for-ordering-rules.md
  docs/architecture/AR-02-serialized-ui-state-commits.md
Due: none

Add persistence for `MainScreenViewModel` state via `SavedStateHandle`
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreenViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/main/MainScreenViewModelTest.kt
Due: UI Screens

Encapsulate SavedStateHandle in MainScreenViewModel
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreenViewModel.kt
Due: UI Screens

Fix race condition in `MainScreenViewModelTest` state persistence test
  app/src/test/java/timur/gilfanov/messenger/ui/screen/main/MainScreenViewModelTest.kt
Due: none

Update MainScreenViewModelTest to use flow.first for state persistence verification
  app/src/test/java/timur/gilfanov/messenger/ui/screen/main/MainScreenViewModelTest.kt
Due: none

fix: Persist MainScreenViewModel tab state across process death (#170)
  app/build.gradle.kts
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreenViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/main/MainScreenViewModelTest.kt
Due: UI Screens

build-logic: Exclude ContainerHost implementations from Store lint rules
  build-logic/src/main/kotlin/timur/gilfanov/messenger/detekt/rules/NoMutableStateFlowExposureRule.kt
  build-logic/src/main/kotlin/timur/gilfanov/messenger/detekt/rules/ReduceOnlyInActorRule.kt
  build-logic/src/test/kotlin/timur/gilfanov/messenger/detekt/rules/NoMutableStateFlowExposureRuleTest.kt
  build-logic/src/test/kotlin/timur/gilfanov/messenger/detekt/rules/ReduceOnlyInActorRuleTest.kt
Due: none

docs: Update MVI Store Pattern naming and state exposure rules in CLAUDE.md
  CLAUDE.md
Due: none

docs: Correct grammar in CLAUDE.md
  CLAUDE.md
Due: none

Add architecture rules for UI state management (#167)
  CLAUDE.md
  app/build.gradle.kts
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/timur/gilfanov/messenger/detekt/StoreRuleSetProvider.kt
  build-logic/src/main/kotlin/timur/gilfanov/messenger/detekt/rules/NoMutableStateFlowExposureRule.kt
  build-logic/src/main/kotlin/timur/gilfanov/messenger/detekt/rules/ReduceOnlyInActorRule.kt
  build-logic/src/main/resources/META-INF/services/io.gitlab.arturbosch.detekt.api.RuleSetProvider
  build-logic/src/test/kotlin/timur/gilfanov/messenger/detekt/rules/NoMutableStateFlowExposureRuleTest.kt
  build-logic/src/test/kotlin/timur/gilfanov/messenger/detekt/rules/ReduceOnlyInActorRuleTest.kt
  config/detekt/detekt.yml
  docs/architecture/AR-01-single-authority-for-ordering-rules.md
  settings.gradle.kts
Due: none

refactor: Rename ViewModels to Stores to align with MVI pattern
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatStore.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListStore.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/main/MainScreenStore.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/LanguageStore.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileEditScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileEditStore.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileStore.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsStore.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatPaginationIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatStoreErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatStoreLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatStoreMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatStoreProcessDeathTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatStoreTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatStoreTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatStoreUpdatesTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListStoreComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageScreenSideEffectsTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageStoreChangeLanguageTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageStoreInitialStateTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageStoreObservationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageStoreStateTransitionsTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/LanguageStoreTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/SettingsStoreObservationTest.kt
Due: Chat Feature, UI Screens

fix: Remove redundant `isRefreshing` state updates in `ChatListViewModel`
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
Due: UI Screens

fix: Remove redundant `isRefreshing` state updates in `ChatListViewModel` (#183)
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
Due: UI Screens

refactor: Replace Orbit MVI with standard Flow-based state management in ProfileViewModel
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModel.kt
Due: UI Screens

feat: Handle profile side effects in SettingsScreen
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
Due: UI Screens

refactor: Rename chat list update state to `isChatListUpdateApplying`
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/ChatRepositoryStub.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/ChatRepository.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/FlowChatListUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/JoinChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/LeaveChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/ReceiveChatUpdatesUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/privileged/CreateChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/privileged/DeleteChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/repository/RepositoryFake.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/TestRepositoryWithRealImplementation.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
Due: Domain Use Cases, UI Screens, Data Layer

test: Implement profile observation in ProfileViewModel
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileUi.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/ProfileUiMappingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModelObservationTest.kt
Due: UI Screens

refactor: Rename chat list update state to `isChatListUpdateApplying` (#185)
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestRepositoryWithRealImplementation.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/ChatRepositoryStub.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/domain/usecase/chat/ChatRepository.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListUiState.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/MessengerRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/FlowChatListUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/JoinChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/LeaveChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/participant/chat/ReceiveChatUpdatesUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/privileged/CreateChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/privileged/DeleteChatUseCaseTest.kt
  app/src/test/java/timur/gilfanov/messenger/domain/usecase/repository/RepositoryFake.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/TestRepositoryWithRealImplementation.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreenComponentTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
Due: Domain Use Cases, UI Screens, Data Layer

refactor: Change `_state` to a read-only property in `ProfileViewModel`
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModel.kt
Due: UI Screens

refactor: Use `collectAsStateWithLifecycle` for profile UI state in `SettingsScreen`
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
Due: UI Screens

fix: Persist ProfileViewModel state across process death
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileUi.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModelObservationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModelProcessDeathTest.kt
Due: UI Screens

test: Fix flakiness in ProfileViewModelProcessDeathTest
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModelProcessDeathTest.kt
Due: none

Migrate `ProfileViewModel` to MVVM (#186)
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileUi.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModel.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/settings/SettingsScreen.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/ProfileUiMappingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModelObservationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/settings/ProfileViewModelProcessDeathTest.kt
Due: UI Screens

refactor: Replace Orbit MVI with standard `MutableStateFlow` in `ChatListViewModel`
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
Due: UI Screens

refactor: Replace Orbit MVI with standard `MutableStateFlow` in `ChatListViewModel` (#189)
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
Due: UI Screens

docs: Add AI agent task solvability criteria and issue template
  .github/ISSUE_TEMPLATE/ai-agent-task.yml
  docs/AI-Agent-Tasks.md
  docs/Issue-Prioritization.md
Due: none

docs: Add AI agent task solvability criteria and issue template (#192)
  .github/ISSUE_TEMPLATE/ai-agent-task.yml
  docs/AI-Agent-Tasks.md
  docs/Issue-Prioritization.md
Due: none

fix: Skip preCommit checks when no code files are staged (#193)
  app/build.gradle.kts
Due: none

fix: handle unauthorized profile observation in chat list (#191)
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
Due: UI Screens

feat: Handle `observeProfile` failure in `ChatListViewModel`
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListSideEffects.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
Due: UI Screens

fix: Check exact log message and fix test name in `ChatListViewModelComponentTest`
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chatlist/ChatListViewModelComponentTest.kt
Due: none
