Repository timurgilfanov/messenger: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Use Cases, Chat Feature, Message Feature, UI Screens, UI Theme, Data Layer, Dependency Injection, Validation Logic, Application Core

style(auth): format pluralStringResource calls in Login and Signup screens
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/login/LoginScreen.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/signup/SignupScreen.kt
Due: none

refactor(auth): extract constants for minimum numbers and letters in password validation
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/validation/CredentialsValidatorImpl.kt
Due: none

refactor(auth): consolidate email error types into EmailError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/auth/repository/EmailError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/auth/repository/EmailUnknownError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/auth/repository/EmailValidationError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/auth/repository/LoginEmailError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/auth/repository/SignupEmailError.kt
Due: none

Revert "fix: apply CodeRabbit auto-fixes"
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/auth/repository/EmailError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/login/LoginScreen.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/signup/SignupScreen.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositorySignupTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceRegisterTest.kt
Due: none

fix(auth): enforce minimum digit and letter counts in password validation
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/validation/CredentialsValidatorImpl.kt
Due: none

refactor: rename UserKey to UserScopeKey and move to :core:domain
  app/src/debug/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceFake.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsSyncScheduler.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsSyncSchedulerImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettings.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSource.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImpl.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/UserKey.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplExceptionTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplObserveTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsTest.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/UserScopeKey.kt
Due: Data Layer

refactor: surface UserScopeKey at SettingsRepository domain boundary
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestSettingsHelper.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestSettingsRepository.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/SettingsRepositoryStub.kt
  app/src/androidTest/java/timur/gilfanov/messenger/test/SettingsSyncSchedulerStub.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImpl.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryImplTest.kt
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryIntegrationTest.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/UserScopeKey.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ChangeUiLanguageUseCase.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveSettingsUseCaseImpl.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageUseCase.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SyncAllPendingSettingsUseCase.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SyncSettingUseCase.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/repository/SettingsRepository.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SettingsRepositoryFake.kt
  core/domain/src/testFixtures/kotlin/timur/gilfanov/messenger/domain/usecase/settings/SettingsRepositoryStub.kt
Due: Data Layer

docs: update auth-gated navigation plan for Task 2a and 2b
  docs/plans/2026-03-27-auth-gated-navigation-drop-identity-repository.md
Due: none

chore(agent): instruct not to chage static analysis configs
  CLAUDE.md
Due: none

refactor(auth): move password validation display strings to shared utility
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/login/LoginScreen.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/signup/SignupScreen.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/utils/DisplayStrings.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/utils/TooManyAttemptsDisplayString.kt
Due: none

refactor: merge local and remote field validation errors in auth use cases (#326)
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/auth/repository/EmailError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/auth/repository/EmailValidationError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/auth/repository/LoginRepositoryError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/auth/repository/SignupRepositoryError.kt
  docs/plans/completed/2026-03-27-merge-local-remote-field-validation-errors-auth.md
  feature/auth/src/androidTest/java/timur/gilfanov/messenger/feature/auth/SignupFeatureTest.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LoginUseCaseError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/LoginWithCredentialsUseCaseImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/SignupWithCredentialsUseCaseError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/usecase/SignupWithCredentialsUseCaseImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/validation/CredentialsValidationError.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/validation/CredentialsValidatorImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/login/LoginScreen.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/login/LoginUiState.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/login/LoginViewModel.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/signup/SignupScreen.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/signup/SignupUiState.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/signup/SignupViewModel.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/utils/DisplayStrings.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/utils/TooManyAttemptsDisplayString.kt
  feature/auth/src/main/res/values-de/strings.xml
  feature/auth/src/main/res/values/strings.xml
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/AuthInterceptorTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositoryImplTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/repository/AuthRepositorySignupTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/data/source/remote/RemoteAuthDataSourceRegisterTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/domain/usecase/SignupWithCredentialsUseCaseTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/domain/validation/CredentialsValidatorImplTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/LoginViewModelSubmitTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/LoginWithCredentialsUseCaseTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/SignupViewModelCredentialsSignupTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/SignupViewModelSubmitTest.kt
Due: none

feat: inject AuthRepository into ChatViewModel; remove hardcoded currentUserId
  app/src/androidTest/java/timur/gilfanov/messenger/application/LanguageChangeApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/application/MessageReplyApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/application/NavigationApplicationTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chat/ChatMessageSendingFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/chatlist/ChatListNotEmptyFeatureTest.kt
  app/src/androidTest/java/timur/gilfanov/messenger/feature/settings/SettingsFeatureTest.kt
  app/src/debug/java/timur/gilfanov/messenger/ChatScreenTestActivity.kt
  app/src/debug/java/timur/gilfanov/messenger/di/TestUserId.kt
  app/src/debug/java/timur/gilfanov/messenger/di/TestUserModule.kt
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatScreen.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatSideEffect.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatFeatureTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatPaginationIntegrationTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelAuthTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelLoadingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelMessageSendingTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTestFixtures.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelTextInputTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelUpdatesTest.kt
  docs/plans/2026-03-27-auth-gated-navigation-drop-identity-repository.md
Due: Chat Feature, UI Screens

feat: auth-gated startup navigation via MainActivityViewModel
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivity.kt
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivityViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/activity/MainActivityViewModelTest.kt
  docs/plans/2026-03-27-auth-gated-navigation-drop-identity-repository.md
Due: none

chore(agent): instruct not to suppress compilation warnings
  CLAUDE.md
Due: none

feat: add end-to-end AuthApplicationTest covering login → chat → logout → login
  app/src/androidTest/java/timur/gilfanov/messenger/application/AuthApplicationTest.kt
  docs/plans/2026-03-27-auth-gated-navigation-drop-identity-repository.md
Due: none

docs: move auth-gated navigation and identity refactor plan to completed
  docs/plans/completed/2026-03-27-auth-gated-navigation-drop-identity-repository.md
Due: none

fix: address code review findings
  app/src/androidTest/java/timur/gilfanov/messenger/application/AuthApplicationTest.kt
  app/src/main/java/timur/gilfanov/messenger/data/repository/SettingsSyncSchedulerImpl.kt
  app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModel.kt
  app/src/test/java/timur/gilfanov/messenger/ui/activity/MainActivityViewModelTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelAuthTest.kt
  app/src/test/java/timur/gilfanov/messenger/ui/screen/chat/ChatViewModelErrorHandlingTest.kt
Due: Chat Feature, UI Screens, Data Layer

chore: add Room auto-migration
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/MessengerDatabase.kt
Due: Data Layer

fix: avoid failing to define current user in chat
  app/schemas/timur.gilfanov.messenger.data.source.local.database.MessengerDatabase/5.json
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/MessengerDatabase.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/entity/ChatParticipantCrossRef.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/mapper/EntityMappers.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/ChatDto.kt
  app/src/main/java/timur/gilfanov/messenger/data/source/remote/dto/DtoMappers.kt
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/mapper/EntityMappersTest.kt
Due: Data Layer

refactor: hash refreshToken in UserScopeKey for security
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/UserScopeKey.kt
Due: none

fix: clear settings table after Migration3To4
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/MessengerDatabase.kt
Due: Data Layer

test: use testUserKey in SettingsRepositoryIntegrationTest
  app/src/test/java/timur/gilfanov/messenger/data/repository/SettingsRepositoryIntegrationTest.kt
Due: none

feat: real-time field validation in LoginViewModel
  docs/plans/2026-04-06-real-time-field-validation-login-signup.md
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/login/LoginViewModel.kt
Due: none

feat: real-time field validation in SignupViewModel
  docs/plans/2026-04-06-real-time-field-validation-login-signup.md
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/signup/SignupViewModel.kt
Due: none

test(auth): add real-time field validation tests for Login and Signup ViewModels
  docs/plans/2026-04-06-real-time-field-validation-login-signup.md
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/LoginViewModelRealTimeValidationTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/SignupViewModelRealTimeValidationTest.kt
Due: none

chore: mark real-time field validation plan as completed
  docs/plans/completed/2026-04-06-real-time-field-validation-login-signup.md
Due: none

fix(auth): updateEmail now recalculates passwordError when email becomes valid
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/login/LoginViewModel.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/signup/SignupViewModel.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/LoginViewModelRealTimeValidationTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/SignupViewModelRealTimeValidationTest.kt
Due: none

fix: address codex review findings
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/login/LoginViewModel.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/signup/SignupViewModel.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/LoginViewModelRealTimeValidationTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/SignupViewModelRealTimeValidationTest.kt
Due: none

fix(test): set isCurrentUser = true for test participants in AndroidTestDataHelper
  app/src/androidTest/java/timur/gilfanov/messenger/test/AndroidTestDataHelper.kt
Due: none

refactor: enhance `CredentialsValidator` with individual field validations
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/validation/CredentialsValidator.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/domain/validation/CredentialsValidatorImpl.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/login/LoginViewModel.kt
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/signup/SignupViewModel.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/domain/validation/CredentialsValidatorImplTest.kt
  feature/auth/src/testFixtures/kotlin/timur/gilfanov/messenger/auth/domain/validation/CredentialsValidatorStub.kt
Due: none

test(auth): fix test names and inputs to accurately reflect behavior
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/domain/validation/CredentialsValidatorImplTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/LoginViewModelRealTimeValidationTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/SignupViewModelRealTimeValidationTest.kt
Due: none

chore(docs): explain Migration3To4 in comment
  app/src/main/java/timur/gilfanov/messenger/data/source/local/database/MessengerDatabase.kt
Due: Data Layer

test: use assertTrue instead of assert in EntityMappersTest
  app/src/test/java/timur/gilfanov/messenger/data/source/local/database/mapper/EntityMappersTest.kt
Due: none

fix: review findings
  app/src/test/java/timur/gilfanov/messenger/data/source/local/LocalSettingsDataSourceImplObserveTest.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ChangeUiLanguageError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveSettingsError.kt
  core/domain/src/main/kotlin/timur/gilfanov/messenger/domain/usecase/settings/ObserveUiLanguageError.kt
Due: none

fix: restore name and email validation errors from SavedStateHandle in SignupViewModel
  feature/auth/src/main/kotlin/timur/gilfanov/messenger/auth/ui/screen/signup/SignupViewModel.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/SignupViewModelRealTimeValidationTest.kt
Due: none

test: simplify real-time validation tests in Login and Signup ViewModels
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/LoginViewModelRealTimeValidationTest.kt
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/SignupViewModelRealTimeValidationTest.kt
Due: none

fix(test): incorrect ViewModel factory call in SignupViewModelRealTimeValidationTest
  feature/auth/src/test/kotlin/timur/gilfanov/messenger/auth/ui/SignupViewModelRealTimeValidationTest.kt
Due: none

fix: expand AuthApplicationTest and add NavEntryDecorators to MainActivity
  app/src/androidTest/java/timur/gilfanov/messenger/application/AuthApplicationTest.kt
  app/src/main/java/timur/gilfanov/messenger/ui/activity/MainActivity.kt
Due: none

Path conditions:
  Domain Entities: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/**
  Domain Use Cases: any of: app/src/main/java/timur/gilfanov/messenger/domain/usecase/**
  Chat Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/chat/**, app/src/main/java/timur/gilfanov/messenger/ui/screen/chat/**
  Message Feature: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/message/**, app/src/main/java/timur/gilfanov/messenger/domain/usecase/participant/message/**
  UI Screens: any of: app/src/main/java/timur/gilfanov/messenger/ui/screen/**
  UI Theme: any of: app/src/main/java/timur/gilfanov/messenger/ui/theme/**
  Data Layer: any of: app/src/main/java/timur/gilfanov/messenger/data/**
  Dependency Injection: any of: app/src/main/java/timur/gilfanov/messenger/di/**
  Validation Logic: any of: app/src/main/java/timur/gilfanov/messenger/domain/entity/chat/validation/**, app/src/main/java/timur/gilfanov/messenger/domain/entity/message/validation/**
  Application Core: any of: app/src/main/java/timur/gilfanov/messenger/MainActivity.kt, app/src/main/java/timur/gilfanov/messenger/MessengerApplication.kt
